Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2019-11, with the labels that each got.

#2064 Fix typo MultSelectModel -> MultiSelectModel
  hub/apps/desktop/modernize/desktop-to-uwp-extensions.md
Labels: Change sent to author, do-not-merge

#2055 fix spelling of "desktop" (from "desktop")
  windows-apps-src/design/shell/tiles-and-notifications/toast-desktop-apps.md
Labels: Change sent to author, do-not-merge

#2063 Update SqliteConnection code
  windows-apps-src/data-access/sqlite-databases.md
Labels: Change sent to author, assessing_(C&L), do-not-merge

#2071 Correct incorrect use of UX & supported features
  hub/apps/desktop/choose-your-platform.md
Labels: Change sent to author, apps/tech, assessing_(C&L), do-not-merge, uwp/prod

#2058 Update create-a-hello-world-app-xaml-universal.md
  windows-apps-src/get-started/create-a-hello-world-app-xaml-universal.md
Labels: Change sent to author, assessing_(C&L), do-not-merge

#2082 update the icon details for quick reply text box
  windows-apps-src/design/shell/tiles-and-notifications/adaptive-interactive-toasts.md
Labels: Change sent to author, assessing_(C&L), design/tech, do-not-merge, uwp/prod

#2089 Fix the spelling of Xbox
  windows-apps-src/audio-video-camera/code/Frames_Win10/Frames_Win10/MainPage.OpenCV.xaml.cs
  windows-apps-src/audio-video-camera/code/Frames_Win10/Frames_Win10/MainPage.xaml.cs
  windows-apps-src/audio-video-camera/supported-codecs.md
  windows-apps-src/design/style/color.md
  windows-apps-src/gaming/capture-game-audio-video-screenshots-and-metadata.md
  windows-apps-src/gaming/code/AppBroadcast/cpp/AppBroadcastExampleApp/App.cpp
  windows-apps-src/gaming/manage-game-broadcasting.md
  windows-apps-src/gaming/tutorial--building-the-games-uwp-app-framework.md
Labels: do-not-merge

#2086 Fix back navigation example in Connected animation
  windows-apps-src/design/motion/connected-animation.md
Labels: Change sent to author, assessing_(C&L), design/tech, do-not-merge, uwp/prod

#2098 Added resource to Online Courses section
  hub/python/resources.md
Labels: Change sent to author, dev-environment/prod, do-not-merge, windows-python/tech

#2095 Update short cut keys in mac-to-windows.md file
  hub/dev-environment/mac-to-windows.md
Labels: Change sent to author, assessing_(C&L), dev-environment/prod, do-not-merge, windows-nodejs/tech

#2100 Some text was indented and recognized as code.
  windows-apps-src/design/input/convert-ink-to-text.md
Labels: Change sent to author, assessing_(C&L), design/tech, do-not-merge, uwp/prod
