Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2019-12, with the labels that each got.

#2117 Remove typo
  windows-apps-src/publish/manage-app-names.md
Labels: Change sent to author, do-not-merge, publish/tech, uwp/prod

#2067 Add Windows Template Studio to developer tools
  windows-apps-src/get-started/index.md
Labels: Change sent to author, assessing_(C&L), get-started/tech, ready-to-merge, uwp/prod

#2128 Change xmlns prefix to match other Microsoft.UI.Xaml.Controls examples
  windows-apps-src/design/controls-and-patterns/dialogs-and-flyouts/teaching-tip.md
Labels: assessing_(C&L), do-not-merge, review-team-triage

#2065 Change all usaged of PropertyChanged to use Invoke pattern
  windows-apps-src/data-access/sql-server-databases.md
  windows-apps-src/data-binding/data-binding-in-depth.md
Labels: Change sent to author, assessing_(C&L), data-and-files/tech, do-not-merge, uwp/prod

#2074 Update launch-settings-app.md
  windows-apps-src/launch-resume/launch-settings-app.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, processes-and-threading/tech, review-team-triage, uwp/prod

#2142 Add that need to clean the UWP project before building
  hub/apps/desktop/modernize/host-custom-control-with-xaml-islands.md
Labels: Change sent to author, assessing_(C&L), design/tech, do-not-merge, uwp/prod
