Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2020-03, with the labels that each got.

#2257 Remove shadedReliefDark and shadedReliefLight
  windows-apps-src/maps-and-location/elements-of-map-style-sheet.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, people-and-places/tech, uwp/prod

#2272 Fix broken link
  windows-apps-src/launch-resume/extend-your-app-with-services-extensions-packages.md
Labels: Change sent to author, do-not-merge, processes-and-threading/tech, uwp/prod

#2283 Update device-portal-hololens.md
  windows-apps-src/debug-test-perf/device-portal-hololens.md
Labels: Change sent to author, deployment/tech, do-not-merge, uwp/prod

#2291 Updated UWP description
  hub/apps/desktop/choose-your-platform.md
Labels: Change sent to author, apps/tech, do-not-merge, uwp/prod

#2294 Fix typo in StateTriggers call-out
  windows-apps-src/get-started/construct-form-learning-track.md
Labels: Change sent to author, do-not-merge, get-started/tech, uwp/prod

#2288 Add link to ThemeShadow class
  windows-apps-src/design/layout/depth-shadow.md
Labels: Change sent to author, aq-pr-triaged, design/tech, do-not-merge, uwp/prod

#2305 Complete sentence, render Note correctly
  windows-apps-src/design/input/speech-recognition.md
Labels: Change sent to author, design/tech, do-not-merge, uwp/prod

#2299 Add terrainFlat property
  windows-apps-src/maps-and-location/elements-of-map-style-sheet.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, people-and-places/tech, uwp/prod

#2310 Adding keyboard shortcuts and terminal info
  hub/dev-environment/mac-to-windows.md
Labels: aq-pr-triaged, do-not-merge

#2311 Fixed inconsistency in tutorial runserver command
  hub/python/web-frameworks.md
Labels: aq-pr-triaged, do-not-merge

#2289 Fix errors in composition/inertia-modifier page
  windows-apps-src/composition/inertia-modifiers.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, platform/tech, uwp/prod

#2304 Fix PowerShell path rendering by using code snippet
  windows-apps-src/get-started/enable-your-device-for-development.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, get-started/tech, uwp/prod

#2317 Added details on creating custom styles based on WinUI
  windows-apps-src/design/style/rounded-corner.md
Labels: Change sent to author, aq-pr-triaged, design/tech, do-not-merge, uwp/prod

#2318 Persistent Data Connection
  windows-apps-src/design/shell/tiles-and-notifications/windows-push-notification-services--wns--overview.md
Labels: Change sent to author, aq-pr-triaged, design/tech, do-not-merge, uwp/prod

#2325 Fixed consistency issues
  windows-apps-src/communication/interprocess-communication.md
Labels: Change sent to author, communication/tech, do-not-merge, uwp/prod

#2313 Update index.yml
  landing/arm-docs/index.yml
Labels: aq-pr-triaged, develop/tech, do-not-merge, review-team-triage

#2323 Update tabview demo code to be valid xaml
  windows-apps-src/design/controls-and-patterns/tab-view.md
Labels: Change sent to author, aq-pr-triaged, design/tech, do-not-merge, uwp/prod

#2329 Added a link
  CONTRIBUTING.md
Labels: aq-pr-triaged, do-not-merge, publish/tech, review-team-triage, uwp/prod
