Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2020-08, with the labels that each got.

#2622 Update data-binding-in-depth.md
  windows-apps-src/data-binding/data-binding-in-depth.md
Labels: Change sent to author, data-and-files/tech, do-not-merge, uwp/prod

#2623 Fix typo
  windows-apps-src/design/input/index.md
Labels: Change sent to author, design/tech, do-not-merge, uwp/prod

#2616 Update create-and-register-a-winmain-background-task.md
  windows-apps-src/launch-resume/create-and-register-a-winmain-background-task.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, processes-and-threading/tech, uwp/prod

#2627 Update Data Binding Function Bindings article
  windows-apps-src/data-binding/function-bindings.md
Labels: Change sent to author, data-and-files/tech, do-not-merge, uwp/prod

#2631 Fix wrong cases in win-get manifest schema
  hub/package-manager/package/manifest.md
Labels: Change sent to author, aq-pr-triaged, dev-environment/prod, do-not-merge

#2648 Remove unneeded cast, remove <syntaxhighlight> from .vcxproj snippet
  windows-apps-src/cpp-and-winrt-apis/interop-winrt-cx.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, platform/tech, uwp/prod

#2653 Added link to TOC for COM background tasks
  windows-apps-src/develop/toc.yml
Labels: Change sent to author, aq-pr-triaged, develop/tech, do-not-merge, uwp/prod

#2673 Clarify how to check for modifier keys in Keyboard events
  windows-apps-src/design/input/keyboard-events.md
Labels: Change sent to author, aq-pr-triaged, design/tech, do-not-merge, uwp/prod

#2675 Fix simple typos
  windows-apps-src/design/input/keyboard-accelerators.md
Labels: Change sent to author, design/tech, do-not-merge, uwp/prod

#2677 Update show-multiple-views.md
  windows-apps-src/design/layout/show-multiple-views.md
Labels: Change sent to author, aq-pr-triaged, design/tech, do-not-merge, uwp/prod
