Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2020-09, with the labels that each got.

#2671 Update background access guidelines in guidelines-for-background-tasks.md
  windows-apps-src/launch-resume/guidelines-for-background-tasks.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, processes-and-threading/tech, uwp/prod

#2676 Update file-access-permissions.md
  windows-apps-src/files/file-access-permissions.md
Labels: Change sent to author, aq-pr-triaged, data-and-files/tech, do-not-merge, uwp/prod

#2672 Add link to rescap information
  windows-apps-src/launch-resume/run-in-the-background-indefinetly.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, processes-and-threading/tech, uwp/prod, windows/svc

#2690 Improve TeachingTip documentation
  windows-apps-src/design/controls-and-patterns/dialogs-and-flyouts/teaching-tip.md
Labels: Change sent to author, aq-pr-triaged, design/tech, do-not-merge, uwp/prod

#2657 Change make_shared to make_unique to comply with latest CppWinRT
  hub/apps/desktop/modernize/host-custom-control-with-xaml-islands-cpp.md
Labels: Change sent to author, apps/tech, aq-pr-triaged, do-not-merge, uwp/prod

#2713 Fix markdown link syntax
  hub/apps/desktop/modernize/host-custom-control-with-xaml-islands-cpp.md
Labels: Change sent to author, apps/tech, do-not-merge, uwp/prod

#2684 updated note on proxies to be more clear
  windows-apps-src/design/shell/tiles-and-notifications/firewall-allowlist-config.md
Labels: Change sent to author, aq-pr-triaged, design/tech, do-not-merge, uwp/prod
