Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2020-12, with the labels that each got.

#2826 Update devkit-activation.md
  windows-apps-src/xbox-apps/devkit-activation.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, games/tech, uwp/prod

#2844 Update sign-up.md
  hub/apps/get-started/sign-up.md
Labels: Change sent to author, apps/tech, do-not-merge, uwp/prod

#2845 Fixed grammar of "Vendor"
  hub/package-manager/package/index.md
Labels: Change sent to author, dev-environment/prod, do-not-merge

#2849 Update opening-a-developer-account.md
  windows-apps-src/publish/opening-a-developer-account.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, publish/tech, uwp/prod

#2828 Update package-flights.md
  windows-apps-src/publish/package-flights.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, publish/tech, uwp/prod

#2860 Correct brackets in typography.md
  windows-apps-src/design/style/typography.md
Labels: Change sent to author, design/tech, do-not-merge, uwp/prod

#2865 fix links
  hub/apps/winui/winui2/release-notes/winui-2.5.md
Labels: Change sent to author, apps/tech, do-not-merge, uwp/prod

#2867 Update lists.md
  windows-apps-src/design/controls-and-patterns/lists.md
Labels: Change sent to author, design/tech, do-not-merge, uwp/prod

#2751 Add Microsoft Edge protocol to the documented set
  windows-apps-src/launch-resume/launch-default-app.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, processes-and-threading/tech, uwp/prod

#2878 Fixed a couple of markup errors
  windows-apps-src/design/devices/designing-for-tv.md
Labels: Change sent to author, design/tech, do-not-merge, uwp/prod

#2884 Fix provided shortcut
  hub/powertoys/install.md
Labels: Change sent to author, dev-environment/prod, do-not-merge, powertoys/tech

#2891 Fix broken link in get-set-up.md
  hub/apps/get-started/get-set-up.md
Labels: Change sent to author, apps/tech, do-not-merge, uwp/prod

#2893 Fix broken link in choose-your-platform.md
  hub/apps/desktop/choose-your-platform.md
Labels: Change sent to author, apps/tech, do-not-merge, uwp/prod
