Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2020-06, with the labels that each got.

#2505 Add link to Windows Template Studio
  windows-apps-src/design/downloads/images/Windows-template-studio.png
  windows-apps-src/design/downloads/index.md
Labels: Change sent to author, aq-pr-triaged, design/tech, do-not-merge, uwp/prod

#2517 change KeyAccelerators to KeyboardAccelerators
  windows-apps-src/design/input/keyboard-accelerators.md
Labels: Change sent to author, aq-pr-triaged, design/tech, do-not-merge, uwp/prod

#2524 Add note about .NET 5 preview
  hub/apps/winui/winui3/get-started-winui3-for-desktop.md
Labels: Change sent to author, apps/tech, do-not-merge, uwp/prod

#2498 Add a link to submit a file for malware analysis
  hub/package-manager/package/repository.md
Labels: Change sent to author, aq-pr-triaged, dev-environment/prod, do-not-merge

#2529 maybe typo
  windows-apps-src/devices-sensors/bluetooth-dev-faq.md
Labels: Change sent to author, do-not-merge, peripherals-sensors-and-power/tech, uwp/prod

#2530 remove duplicate dot
  windows-apps-src/devices-sensors/send-or-receive-files-with-rfcomm.md
Labels: Change sent to author, do-not-merge, peripherals-sensors-and-power/tech, uwp/prod

#2536 Update windows-push-notification-services--wns--overview.md
  windows-apps-src/design/shell/tiles-and-notifications/windows-push-notification-services--wns--overview.md
Labels: Change sent to author, design/tech, do-not-merge, uwp/prod

#2544 Update xmlns namespace
  hub/apps/winui/winui2/getting-started.md
Labels: Change sent to author, apps/tech, do-not-merge, uwp/prod

#2547 Fixing 404 for PreviewKeyDown & PreviewKeyUp links
  windows-apps-src/xaml-platform/events-and-routed-events-overview.md
Labels: Change sent to author, do-not-merge, platform/tech, uwp/prod

#2545 Deprecate most of elements-of-map-style-sheet
  windows-apps-src/maps-and-location/elements-of-map-style-sheet.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, people-and-places/tech, uwp/prod

#2549 Link had the square-brackets and parens reversed
  windows-apps-src/security/web-account-manager.md
Labels: Change sent to author, do-not-merge, platform/tech, uwp/prod

#2550 Update ARM64 SDK announce link
  landing/arm-docs/index.yml
Labels: aq-pr-triaged, do-not-merge, review-team-triage, uwp/prod
