Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2020-04, with the labels that each got.

#2279 Fix broken link to 'Manage Xbox One consoles' page
  windows-apps-src/xbox-apps/devkit-deactivation.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, games/tech, uwp/prod

#2290 Remove deprecated APIs
  windows-apps-src/launch-resume/update-a-live-tile-from-a-background-task.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, processes-and-threading/tech, uwp/prod

#2332 Remove erroneous spaces in commands
  hub/apps/desktop/modernize/grant-identity-to-nonpackaged-apps.md
Labels: Change sent to author, apps/tech, do-not-merge, uwp/prod

#2343 Fix typo in ItemsRepeater doc
  windows-apps-src/design/controls-and-patterns/items-repeater.md
Labels: Change sent to author, design/tech, do-not-merge, uwp/prod

#2356 Removed error image.
  windows-apps-src/design/controls-and-patterns/number-box.md
Labels: Change sent to author, design/tech, do-not-merge, uwp/prod

#2340 Use short name Czechia as official name
  windows-apps-src/publish/account-types-locations-and-fees.md
  windows-apps-src/publish/configure-precise-release-scheduling.md
  windows-apps-src/publish/define-market-selection.md
  windows-apps-src/publish/mobile-operator-billing.md
  windows-apps-src/publish/organizational-licensing.md
  windows-apps-src/publish/payment-thresholds-methods-and-timeframes.md
  windows-apps-src/publish/tax-details-for-paid-apps.md
  windows-apps-src/publish/understand-irs-tax-forms.md
  windows-apps-src/publish/vat-info.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, publish/tech, uwp/prod

#2365 Fix broken link for link to app icons and logos
  windows-apps-src/design/shell/tiles-and-notifications/creating-tiles.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, uwp-conceptual-docs/tech, uwp/prod

#2370 Fixed formatting and typo
  hub/dev-environment/mac-to-windows.md
Labels: Change sent to author, dev-environment/prod, do-not-merge, windows-nodejs/tech

#2378 Update segoe-ui-symbol-font.md
  windows-apps-src/design/style/segoe-ui-symbol-font.md
Labels: Change sent to author, aq-pr-triaged, design/tech, do-not-merge, uwp/prod

#2368 Update SetTitleBar documentation to point out issue with grid
  windows-apps-src/design/shell/title-bar.md
Labels: Change sent to author, aq-pr-triaged, design/tech, do-not-merge, uwp/prod

#2385 Update fileio-learning-track.md
  windows-apps-src/get-started/fileio-learning-track.md
Labels: Change sent to author, do-not-merge, get-started/tech, uwp/prod

#2391 Fix typo
  windows-apps-src/winrt-components/creating-windows-runtime-components-in-csharp-and-visual-basic.md
Labels: do-not-merge

#2416 Add cast example in [Bind to IsChecked] section
  windows-apps-src/design/controls-and-patterns/checkbox.md
Labels: Change sent to author, aq-pr-triaged, design/tech, do-not-merge, uwp/prod
