Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2020-11, with the labels that each got.

#2789 Updated Uno Platform targets
  hub/apps/desktop/choose-your-platform.md
Labels: Change sent to author, apps/tech, do-not-merge, uwp/prod

#2797 Update universal-application-platform-guide.md
  windows-apps-src/get-started/universal-application-platform-guide.md
Labels: Change sent to author, do-not-merge, get-started/tech, uwp/prod

#2800 Small typo
  hub/package-manager/package/manifest.md
Labels: Change sent to author, dev-environment/prod, do-not-merge

#2817 Added keyword to title to avoid confusion with other Microsoft 365 ap…
  hub/apps/desktop/choose-your-platform.md
Labels: Change sent to author, apps/tech, aq-pr-triaged, do-not-merge, uwp/prod

#2788 Fix Host typo
  windows-apps-src/monetize/get-subscriptions-for-a-user.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, publish/tech, uwp/prod

#2784 Update send-local-toast.md
  windows-apps-src/design/shell/tiles-and-notifications/send-local-toast.md
Labels: Change sent to author, aq-pr-triaged, design/tech, do-not-merge, uwp/prod

#2809 updated design toolkits
  hub/apps/fluent-design-system.md
Labels: Change sent to author, apps/tech, aq-pr-triaged, do-not-merge, uwp/prod

#2823 Background task guidance on what not to do.
  windows-apps-src/launch-resume/guidelines-for-background-tasks.md
Labels: Change sent to author, do-not-merge, processes-and-threading/tech, uwp/prod

#2831 Fixed use-the-compass.md code blocks
  windows-apps-src/devices-sensors/use-the-compass.md
Labels: Change sent to author, peripherals-sensors-and-power/tech, ready-to-merge, uwp/prod
