Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2020-07, with the labels that each got.

#2556 Clarify and correct copy_to_abi usage to ensure ABI types match
  windows-apps-src/cpp-and-winrt-apis/interop-winrt-abi.md
Labels: aq-pr-triaged, do-not-merge, uwp/prod

#2557 Updating Deprecation notice for 2004 release
  windows-apps-src/security/companion-device-unlock.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, platform/tech, uwp/prod

#2577 Fix typo, behvior -> behavior
  hub/python/beginners.md
Labels: Change sent to author, dev-environment/prod, do-not-merge, windows-python/tech

#2581 Fix markdown bold asterisks
  windows-apps-src/get-started/create-a-basic-windows-10-app-in-cpp.md
Labels: Change sent to author, do-not-merge, get-started/tech, uwp/prod

#2570 Update search.md
  hub/package-manager/winget/search.md
Labels: Change sent to author, aq-pr-triaged, dev-environment/prod, do-not-merge

#2586 Fix formatting
  windows-apps-src/publish/create-app-store-listings.md
Labels: Change sent to author, do-not-merge, publish/tech, uwp/prod

#2531 Change Protocol Activation Parameter from Optional
  windows-apps-src/launch-resume/launch-default-app.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, processes-and-threading/tech, uwp/prod

#2599 Fix typo (windows file system is NTFS)
  hub/dev-environment/overview.md
Labels: Change sent to author, dev-environment/prod, do-not-merge, windows-nodejs/tech

#2597 Update set-app-pricing-and-availability.md
  windows-apps-src/publish/set-app-pricing-and-availability.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, publish/tech, uwp/prod

#2615 Update intro-to-using-cpp-with-winrt.md
  windows-apps-src/cpp-and-winrt-apis/intro-to-using-cpp-with-winrt.md
Labels: Change sent to author, do-not-merge, platform/tech, uwp/prod
