Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2020-10, with the labels that each got.

#2731 Do not use floats to store currencies.
  windows-apps-src/cpp-and-winrt-apis/author-events.md
  windows-apps-src/cpp-and-winrt-apis/consume-apis.md
  windows-apps-src/winrt-components/create-a-windows-runtime-component-in-cppwinrt.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, platform/tech, uwp/prod

#2747 Fixed typo in MenuBar control description
  hub/apps/desktop/modernize/index.md
Labels: Change sent to author, apps/tech, do-not-merge, uwp/prod

#2738 Toast notification, badge, and tile updates
  windows-apps-src/design/shell/tiles-and-notifications/adaptive-interactive-toasts.md
  windows-apps-src/design/shell/tiles-and-notifications/badges.md
  windows-apps-src/design/shell/tiles-and-notifications/chaseable-tile-notifications.md
  windows-apps-src/design/shell/tiles-and-notifications/custom-audio-on-toasts.md
  windows-apps-src/design/shell/tiles-and-notifications/custom-timestamps-on-toasts.md
  windows-apps-src/design/shell/tiles-and-notifications/images/send-toast-01.png
  windows-apps-src/design/shell/tiles-and-notifications/images/send-toast-02.png
  windows-apps-src/design/shell/tiles-and-notifications/images/send-toast-03.png
  windows-apps-src/design/shell/tiles-and-notifications/scheduled-toast.md
  windows-apps-src/design/shell/tiles-and-notifications/secondary-tiles-desktop-pinning.md
  windows-apps-src/design/shell/tiles-and-notifications/secondary-tiles-pinning.md
  windows-apps-src/design/shell/tiles-and-notifications/secondary-tiles.md
  windows-apps-src/design/shell/tiles-and-notifications/send-local-toast-desktop-cpp-wrl.md
  windows-apps-src/design/shell/tiles-and-notifications/send-local-toast-desktop.md
  windows-apps-src/design/shell/tiles-and-notifications/send-local-toast.md
  windows-apps-src/design/shell/tiles-and-notifications/toast-collections.md
  windows-apps-src/design/shell/tiles-and-notifications/toast-desktop-apps.md
  windows-apps-src/design/shell/tiles-and-notifications/toast-headers.md
  windows-apps-src/design/shell/tiles-and-notifications/toast-pending-update.md
  windows-apps-src/design/shell/tiles-and-notifications/toast-progress-bar.md
  windows-apps-src/design/toc.yml
Labels: Change sent to author, aq-pr-triaged, design/tech, do-not-merge, uwp/prod

#2728 Request Example for posting to Review: Example error IsPublic should …
  windows-apps-src/monetize/submit-responses-to-app-reviews.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, publish/tech, uwp/prod

#2753 fixed toast xml schema link (it was empty!)
  windows-apps-src/design/shell/tiles-and-notifications/toast-schema.md
Labels: Change sent to author, design/tech, do-not-merge, uwp/prod

#2761 Added the correct namespaces in the schema of the alias integration
  hub/apps/desktop/modernize/desktop-to-uwp-extensions.md
Labels: Change sent to author, apps/tech, aq-pr-triaged, do-not-merge, uwp/prod

#2768 Fix copy/pasta typo: GetCurrentTime should be TRY
  windows-apps-src/cpp-and-winrt-apis/faq.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, platform/tech, uwp/prod

#2774 Added Colors Settings page URL
  windows-apps-src/design/app-settings/guidelines-for-app-settings.md
Labels: Change sent to author, aq-pr-triaged, design/tech, ready-to-merge, uwp/prod

#2777 Mention required nuget.org package source
  hub/apps/winui/winui3/index.md
Labels: Change sent to author, apps/tech, aq-pr-triaged, do-not-merge, uwp/prod

#2776 [Drag & drop overview] Add note about drag reordering within ListViews
  windows-apps-src/design/input/drag-and-drop.md
Labels: Change sent to author, aq-pr-triaged, design/tech, do-not-merge, uwp/prod

#2782 Update host-custom-control-with-xaml-islands-cpp.md
  hub/apps/desktop/modernize/host-custom-control-with-xaml-islands-cpp.md
Labels: Change sent to author, apps/tech, ready-to-merge, uwp/prod

#2781 Update host-standard-control-with-xaml-islands-cpp.md
  hub/apps/desktop/modernize/host-standard-control-with-xaml-islands-cpp.md
Labels: Change sent to author, apps/tech, do-not-merge, uwp/prod
