Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2021-04, with the labels that each got.

#3047 Fix typo
  hub/apps/desktop/modernize/host-standard-control-with-xaml-islands-cpp.md
Labels: Change sent to author, apps/tech, do-not-merge, uwp/prod

#3055 Update host-standard-control-with-xaml-islands.md
  hub/apps/desktop/modernize/host-standard-control-with-xaml-islands.md
Labels: Change sent to author, apps/tech, aq-pr-triaged, do-not-merge, uwp/prod

#3058 Added info on x86-64 app emulation
  windows-apps-src/porting/apps-on-arm.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, porting-apps/tech, uwp/prod

#3040 Update web-account-manager.md
  windows-apps-src/security/web-account-manager.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, platform/tech, uwp/prod

#3070 Add note for removal of syncing of activities
  windows-apps-src/launch-resume/useractivities.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, uwp/prod

#3072 Fix broken link in "Related" Section
  hub/dev-environment/rust/rust-for-windows.md
Labels: Change sent to author, dev-environment/prod, do-not-merge

#3074 Update a minor typo in keyboard-manager.md
  hub/powertoys/keyboard-manager.md
Labels: Change sent to author, dev-environment/prod, do-not-merge, powertoys/tech

#3079 Fix 404 link to rust docs on microsoft.github.io
  hub/dev-environment/rust/index.yml
Labels: Change sent to author, do-not-merge, uwp/prod

#3082 Update complete-code-for-ddstextureloader.md
  windows-apps-src/gaming/complete-code-for-ddstextureloader.md
Labels: Change sent to author, do-not-merge, games/tech, uwp/prod

#3085 Update screen-capture-video.md
  windows-apps-src/audio-video-camera/screen-capture-video.md
Labels: Change sent to author, audio-video-and-camera/tech, do-not-merge, uwp/prod

#3041 fix `windows on Microsoft Learn` link
  windows-apps-src/get-started/index.md
Labels: Change sent to author, aq-pr-triaged, get-started/tech, ready-to-merge, uwp/prod

#3030 Fix cell items
  windows-apps-src/launch-resume/reserved-uri-scheme-names.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, processes-and-threading/tech, uwp/prod

#3090 Add IDataTransferManagerInterop to the list of alternatives
  hub/apps/desktop/modernize/desktop-to-uwp-supported-api.md
Labels: Change sent to author, apps/tech, do-not-merge, uwp/prod
