Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2021-03, with the labels that each got.

#2995 spelling error fix
  windows-apps-src/porting/apps-on-arm.md
Labels: Change sent to author, do-not-merge, porting-apps/tech, uwp/prod

#2998 Add Rust operator link and comments
  hub/dev-environment/rust/rss-reader-rust-for-windows.md
Labels: Change sent to author, aq-pr-triaged, dev-environment/prod, do-not-merge

#3000 Update use-csharp-component-from-cpp-winrt.md
  windows-apps-src/cpp-and-winrt-apis/use-csharp-component-from-cpp-winrt.md
Labels: Change sent to author, do-not-merge, platform/tech, uwp/prod

#2979 Fixed a small mistake
  hub/powertoys/run.md
Labels: Change sent to author, aq-pr-triaged, dev-environment/prod, do-not-merge, powertoys/tech

#3011 PowerToys v0.33 updates and minor tweaks
  hub/images/pt-fancyzones-settings.png
  hub/images/pt-fancyzones-settings1.png
  hub/powertoys/fancyzones.md
  hub/powertoys/install.md
  hub/powertoys/powerrename.md
  hub/powertoys/run.md
Labels: Change sent to author, aq-pr-triaged, dev-environment/prod, do-not-merge, powertoys/tech

#3012 Updated images for PowerToys
  hub/images/powertoys-imageresize-settings.png
  hub/images/powertoys-resize-drag-drop.gif
  hub/images/powertoys-resize-images.gif
  hub/images/powertoys-resize-settings.gif
  hub/images/powertoys-resizeDragAndDrop.gif
  hub/images/powertoys-resizeNormal.gif
  hub/images/powertoys-resizeSettings.gif
  hub/images/powertoys-settings-fileexplorer.png
  hub/images/pt-colorpicker-hex.png
  hub/images/pt-colorpicker-settings.png
  hub/powertoys/image-resizer.md
Labels: Change sent to author, aq-pr-triaged, dev-environment/prod, do-not-merge, powertoys/tech

#2965 Update resources.md
  hub/python/resources.md
Labels: Change sent to author, aq-pr-triaged, dev-environment/prod, do-not-merge, windows-python/tech

#3028 Add a missing double quote
  windows-apps-src/design/controls-and-patterns/shapes.md
Labels: Change sent to author, design/tech, do-not-merge, uwp/prod

#3029 Updated to remove a feature no longer available
  windows-apps-src/publish/put-apps-and-add-ons-on-sale.md
Labels: publish/tech, ready-to-merge, uwp/prod

#3044 fix typo in rust setup.md
  hub/dev-environment/rust/setup.md
Labels: Change sent to author, dev-environment/prod, do-not-merge
