Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2021-05, with the labels that each got.

#3096 Mention more interop APIs
  hub/apps/desktop/modernize/desktop-to-uwp-supported-api.md
Labels: Change sent to author, apps/tech, aq-pr-triaged, do-not-merge, uwp/prod

#3103 Update run.md
  hub/powertoys/run.md
Labels: Change sent to author, aq-pr-triaged, dev-environment/prod, do-not-merge, powertoys/tech

#3095 Fixed Gatsby title and link on Windows for JavaScript developers
  hub/dev-environment/javascript/index.md
Labels: Change sent to author, aq-pr-triaged, dev-environment/prod, do-not-merge, windows-javascript/tech

#3107 Fix typo NTSF -> NTFS
  hub/dev-environment/tips.md
Labels: Change sent to author, dev-environment/prod, do-not-merge, windows-nodejs/tech

#3108 Update windows-runtime-components-and-optimizing-interop.md
  windows-apps-src/debug-test-perf/windows-runtime-components-and-optimizing-interop.md
Labels: Change sent to author, aq-pr-triaged, deployment/tech, do-not-merge, uwp/prod

#3113 Fixed spelling
  windows-apps-src/updates-and-versions/choose-a-uwp-version.md
Labels: Change sent to author, deployment/tech, do-not-merge, uwp/prod

#3127 Fix ARM64 Project XML Syntax
  windows-apps-src/cpp-and-winrt-apis/use-csharp-component-from-cpp-winrt.md
Labels: Change sent to author, do-not-merge, platform/tech, uwp/prod

#3132 Update fancyzones.md
  hub/powertoys/fancyzones.md
Labels: Change sent to author, dev-environment/prod, do-not-merge, powertoys/tech

#3135 fix next app creation command
  hub/dev-environment/javascript/nextjs-on-wsl.md
Labels: Change sent to author, aq-pr-triaged, dev-environment/prod, do-not-merge

#3118 Upgrade loc priority metadata value
  hub/apps/get-started/enable-your-device-for-development.md
Labels: Change sent to author, apps/tech, aq-pr-triaged, do-not-merge, uwp/prod
