Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2021-06, with the labels that each got.

#3154 Update keyboard-events.md
  windows-apps-src/design/input/keyboard-events.md
Labels: Change sent to author, aq-pr-triaged, design/tech, do-not-merge, uwp/prod

#3156 Correct typo their > there
  hub/package-manager/winget/upgrade.md
Labels: Change sent to author, dev-environment/prod, do-not-merge, package-manager/tech

#3147 Update launch-screen-snipping.md
  windows-apps-src/launch-resume/launch-screen-snipping.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, processes-and-threading/tech, uwp/prod

#3134 SEO: Update_page_tittle_and_meta_tag
  hub/dev-environment/index.md
  hub/dev-environment/javascript/index.md
Labels: Change sent to author, aq-pr-triaged, dev-environment/prod, do-not-merge, windows-javascript/tech

#3160 Update navigationview.md
  windows-apps-src/design/controls-and-patterns/navigationview.md
Labels: Change sent to author, aq-pr-triaged, design/tech, ready-to-merge, uwp/prod

#3168 Update commanding-basics.md
  windows-apps-src/design/basics/commanding-basics.md
Labels: Change sent to author, design/tech, do-not-merge, uwp/prod

#3175 Update optimize-gridview-and-listview.md
  windows-apps-src/debug-test-perf/optimize-gridview-and-listview.md
Labels: Change sent to author, deployment/tech, do-not-merge, uwp/prod

#3165 Update navigation-history-and-backwards-navigation.md
  windows-apps-src/design/basics/navigation-history-and-backwards-navigation.md
Labels: Change sent to author, aq-pr-triaged, design/tech, ready-to-merge, uwp/prod

#3182 Update conditional-xaml.md
  windows-apps-src/debug-test-perf/conditional-xaml.md
Labels: Change sent to author, deployment/tech, do-not-merge, uwp/prod

#3183 Update host-standard-control-with-xaml-islands-cpp.md
  hub/apps/desktop/modernize/host-standard-control-with-xaml-islands-cpp.md
Labels: Change sent to author, apps/tech, aq-pr-triaged, do-not-merge, uwp/prod

#3194 Fix spelling (tuturial -> tutorial)
  hub/dev-environment/toc.yml
Labels: do-not-merge, review-team-triage

#3195 Correct spelling of Node.js
  hub/dev-environment/javascript/nodejs-on-wsl.md
Labels: Change sent to author, dev-environment/prod, do-not-merge, windows-javascript/tech

#3196 Power toys v0.41 Updates
  .gitignore
  hub/dev-environment/toc.yml
  hub/images/powertoys-updates.png
  hub/images/pt-awake-menu.png
  hub/images/pt-awake-settings-menu.png
  hub/images/pt-awake-tray.gif
  hub/images/pt-shortcut-guide-settings.png
  hub/powertoys/awake.md
  hub/powertoys/fancyzones.md
  hub/powertoys/index.md
  hub/powertoys/install.md
  hub/powertoys/run.md
  hub/powertoys/shortcut-guide.md
Labels: Change sent to author, dev-environment/prod, do-not-merge, powertoys/tech

#3151 Update pt-colorpicker-editor.gif
  hub/images/pt-colorpicker-editor.gif
Labels: aq-pr-triaged, do-not-merge, review-team-triage

#3159 Update edit links in tips.md to proper path
  hub/dev-environment/tips.md
Labels: Change sent to author, aq-pr-triaged, dev-environment/prod, do-not-merge, windows-nodejs/tech

#3161 Update custom-dependency-properties.md
  windows-apps-src/xaml-platform/custom-dependency-properties.md
Labels: Change sent to author, aq-pr-triaged, platform/tech, ready-to-merge, uwp/prod
