Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2021-10, with the labels that each got.

#3350 VPN interface
  hub/apps/design/shell/tiles-and-notifications/firewall-allowlist-config.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, uwp/prod, design/tech

#3363 Update Schortcut Guide text + image
  hub/images/powertoys-settings.png
  hub/images/pt-shortcut-guide-settings.png
  hub/powertoys/shortcut-guide.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech

#3377 Added PDF files
  hub/powertoys/file-explorer.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech

#3402 Fix broken link to badge images
  windows-apps-src/publish/app-marketing-guidelines.md
Labels: do-not-merge, Change sent to author, uwp/prod, publish/tech
