Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2021-12, with the labels that each got.

#3526 Update powerrename.md
  hub/powertoys/powerrename.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech

#3527 [PowerToys] Window snapping to multiple zones with keyboard
  hub/images/pt-window-snap-multiple-zones-w-keyboard-settings.png
  hub/powertoys/fancyzones.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech

#3533 Updating content and getting back in sync with main page
  hub/powertoys/install.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech

#3538 Spelling mistake for arguments
  hub/powertoys/install.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech

#3545 [PowerToys] Calculator Plugin Operations
  hub/powertoys/run.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech

#3551 Update xaml-islands.md
  hub/apps/desktop/modernize/xaml-islands.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, uwp/prod, apps/tech

#3553 Update capture-device-controls-for-video-capture.md
  windows-apps-src/audio-video-camera/capture-device-controls-for-video-capture.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, uwp/prod, audio-video-and-camera/tech

#3555 Fix Typo in "Windows app silhouettes" Section
  hub/apps/design/basics/app-silhouette.md
Labels: do-not-merge, Change sent to author, uwp/prod, design/tech

#3561 Update .NET SDK versions
  hub/apps/windows-app-sdk/system-requirements.md
Labels: do-not-merge, Change sent to author, reunion/prod

#3562 remove experimental for unpackaged
  hub/apps/windows-app-sdk/deployment-architecture.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, reunion/prod

#3568 Update stable-channel.md
  hub/apps/windows-app-sdk/stable-channel.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, reunion/prod

#3546 [PowerToys] Keyboard Manager lists key mappings that may not be usable on certain keyboards
  hub/images/pt-key-remap-drop-down.png
  hub/powertoys/keyboard-manager.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech
