Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2021-09, with the labels that each got.

#3318 [PowerToys] [Docs] Updated settings images
  hub/images/powertoys-imageresize-settings.png
  hub/images/powertoys-keyboard-remap.png
  hub/images/powertoys-keyboard-shortcuts.png
  hub/images/powertoys-settings-fileexplorer.png
  hub/images/powertoys-updates.png
  hub/images/pt-awake-menu.png
  hub/images/pt-awake-settings-menu.png
  hub/images/pt-colorpicker-behaviors.png
  hub/images/pt-colorpicker-settings.png
  hub/images/pt-fancyzones-settings.png
  hub/images/pt-fancyzones-settings2.png
  hub/images/pt-keyboard-manager.png
  hub/images/pt-run-monitor.png
  hub/images/pt-shortcut-guide-settings.png
  hub/images/pt-video-conference-mute-settings.png
  hub/powertoys/keyboard-manager.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech

#3323 Updated PowerToys docs
  hub/powertoys/administrator.md
  hub/powertoys/awake.md
  hub/powertoys/color-picker.md
  hub/powertoys/fancyzones.md
  hub/powertoys/file-explorer.md
  hub/powertoys/image-resizer.md
  hub/powertoys/index.md
  hub/powertoys/install.md
  hub/powertoys/keyboard-manager.md
  hub/powertoys/powerrename.md
  hub/powertoys/run.md
  hub/powertoys/shortcut-guide.md
  hub/powertoys/video-conference-mute.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech

#3316 Update `nvm` version
  hub/dev-environment/javascript/nodejs-on-wsl.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, windows-javascript/tech

#3259 WinMain BG task API docs link to E2E sample code
  windows-apps-src/launch-resume/create-and-register-a-winmain-background-task.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, uwp/prod, processes-and-threading/tech

#3344 Correct "the your" to "your"
  hub/powertoys/video-conference-mute.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech

#3342 Update PowerToys docs
  hub/powertoys/administrator.md
  hub/powertoys/color-picker.md
  hub/powertoys/fancyzones.md
  hub/powertoys/file-explorer.md
  hub/powertoys/image-resizer.md
  hub/powertoys/index.md
  hub/powertoys/install.md
  hub/powertoys/keyboard-manager.md
  hub/powertoys/powerrename.md
  hub/powertoys/run.md
  hub/powertoys/shortcut-guide.md
  hub/powertoys/video-conference-mute.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech

#3349 Docs: Update host custom control with xaml islands doc
  hub/apps/desktop/modernize/host-custom-control-with-xaml-islands.md
  hub/apps/desktop/modernize/images/xaml-islands/host-custom-control-error.png
Labels: do-not-merge, Change sent to author, aq-pr-triaged, uwp/prod, apps/tech

#3360 Update react-on-wsl.md
  hub/dev-environment/javascript/react-on-wsl.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, windows-javascript/tech

#3361 Update Windows 11 snap layouts documentation
  hub/apps/desktop/modernize/apply-snap-layout-menu.md
  hub/apps/desktop/modernize/index.md
  hub/apps/get-started/make-apps-great-for-windows.md
  hub/apps/toc.yml
Labels: Change sent to author, ready-to-merge, uwp/prod, apps/tech

#3365 Differentiate software keyboard and touch keyboard
  hub/apps/design/input/keyboard-interactions.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, uwp/prod, design/tech
