Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2021-01, with the labels that each got.

#2880 fix typo repeated Id= in the example
  hub/apps/desktop/modernize/desktop-to-uwp-extensions.md
Labels: Change sent to author, apps/tech, aq-pr-triaged, do-not-merge, uwp/prod

#2886 Fix Segoe icon code typo
  windows-apps-src/design/style/segoe-ui-symbol-font.md
Labels: Change sent to author, aq-pr-triaged, design/tech, do-not-merge, uwp/prod

#2887 Update beginners.md
  hub/python/beginners.md
Labels: Change sent to author, aq-pr-triaged, dev-environment/prod, do-not-merge, windows-python/tech

#2836 Update web-frameworks.md
  hub/python/web-frameworks.md
Labels: Change sent to author, aq-pr-triaged, dev-environment/prod, do-not-merge, windows-python/tech

#2815 Update setup-on-wsl2.md - nvm install --lts - typo correction
  hub/nodejs/setup-on-wsl2.md
Labels: Change sent to author, aq-pr-triaged, dev-environment/prod, do-not-merge, windows-nodejs/tech

#2873 Corrected related topic link test for Motion in UWP apps
  windows-apps-src/design/motion/page-transitions.md
Labels: Change sent to author, aq-pr-triaged, design/tech, ready-to-merge, uwp/prod

#2871 Change developer settings to account settings
  windows-apps-src/publish/associate-azure-ad-with-partner-center.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, publish/tech, uwp/prod

#2924 Add some details in Xaml Islands articles
  hub/apps/desktop/modernize/host-custom-control-with-xaml-islands.md
  hub/apps/desktop/modernize/host-standard-control-with-xaml-islands.md
Labels: Change sent to author, apps/tech, do-not-merge, uwp/prod

#2929 Cleanup code examples for relation animations
  windows-apps-src/composition/relation-animations.md
Labels: Change sent to author, platform/tech, ready-to-merge, uwp/prod

#2931 Typo "Azure Blob storage"→"Azure Blob Storage"
  windows-apps-src/monetize/manage-add-on-submissions.md
Labels: Change sent to author, do-not-merge, publish/tech, uwp/prod

#2933 Typo "Azure Blob storage"→"Azure Blob Storage"
  windows-apps-src/monetize/manage-app-submissions.md
Labels: Change sent to author, do-not-merge, publish/tech, uwp/prod

#2934 Typo "Azure Blob storage"→"Azure Blob Storage"
  windows-apps-src/monetize/python-code-examples-for-the-windows-store-submission-api.md
Labels: Change sent to author, do-not-merge, publish/tech, uwp/prod

#2935 Typo "Azure Blob storage"→"Azure Blob Storage"
  windows-apps-src/monetize/csharp-code-examples-for-the-windows-store-submission-api.md
Labels: Change sent to author, do-not-merge, publish/tech, uwp/prod

#2936 Typo "Azure Blob storage"→"Azure Blob Storage"
  windows-apps-src/gaming/cloud-for-games.md
Labels: Change sent to author, do-not-merge, games/tech, uwp/prod

#2937 Typo "Azure Blob storage"→"Azure Blob Storage"
  windows-apps-src/monetize/java-code-examples-for-the-windows-store-submission-api.md
Labels: Change sent to author, do-not-merge, publish/tech, uwp/prod

#2940 Fixing a missing `#endif`
  hub/apps/winui/winui3/xaml-templated-controls-cppwinrt-winui-3.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge
