Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2021-11, with the labels that each got.

#3454 Update index.md
  hub/android/wsa/index.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, windows-android/tech

#3455 Update for the Winget command
  hub/powertoys/install.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, internal-review, powertoys/tech

#3457 Fix C++/WinRT static method call using dot in WinUI 3 migration guide
  hub/apps/windows-app-sdk/migrate-to-windows-app-sdk/guides/winui3.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, reunion/prod

#3333 Update run-in-the-background-indefinetly.md
  windows-apps-src/launch-resume/run-in-the-background-indefinetly.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, uwp/prod, processes-and-threading/tech

#3320 Fix C# code sample typo
  windows-apps-src/launch-resume/handle-file-activation.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, uwp/prod, processes-and-threading/tech

#3369 Update apps-on-arm.md
  windows-apps-src/porting/apps-on-arm.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, uwp/prod, porting-apps/tech

#3464 Remove duplicate word
  hub/apps/windows-app-sdk/preview-channel.md
Labels: do-not-merge, Change sent to author, reunion/prod

#3470 Update index.md
  hub/apps/performance/index.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, uwp/prod, apps/tech

#3449 Update PowerToys index.md
  hub/powertoys/index.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech

#3436 Update Powertoys docs
  hub/images/pt-vcm-source-in-app.png
  hub/powertoys/administrator.md
  hub/powertoys/awake.md
  hub/powertoys/color-picker.md
  hub/powertoys/fancyzones.md
  hub/powertoys/file-explorer.md
  hub/powertoys/image-resizer.md
  hub/powertoys/index.md
  hub/powertoys/install.md
  hub/powertoys/keyboard-manager.md
  hub/powertoys/powerrename.md
  hub/powertoys/run.md
  hub/powertoys/shortcut-guide.md
  hub/powertoys/video-conference-mute.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech

#3471 Fix double require
  hub/apps/desktop/modernize/desktop-to-uwp-supported-api.md
Labels: do-not-merge, Change sent to author, uwp/prod, apps/tech

#3473 updates for auto-initialization
  hub/apps/windows-app-sdk/reference-framework-package-run-time.md
Labels: do-not-merge, Change sent to author, reunion/prod

#3478 Update upgrade.md
  hub/package-manager/winget/upgrade.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, package-manager/tech

#3475 Adding in common FAQ regarding multiple keyboards
  hub/powertoys/keyboard-manager.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech

#3481 Updated mouse-utilities.md info about dismissing mouse spotlight.
  hub/powertoys/mouse-utilities.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech

#3442 Update image with settings for PDF preview and thumbnails
  hub/images/powertoys-settings-fileexplorer.png
Labels: do-not-merge, Change sent to author, aq-pr-triaged, powertoys/tech

#3328 Update instructions and code segment
  hub/apps/windows-app-sdk/tutorial-unpackaged-deployment.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, reunion/prod

#3492 Update keyboard-manager.md
  hub/powertoys/keyboard-manager.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech

#3490 Add missing png in item-container-templates
  hub/apps/design/controls/images/listview-style-resource-vs.png
  hub/apps/design/controls/item-containers-templates.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, uwp/prod, design/tech

#3495 Update consume-apis.md
  windows-apps-src/cpp-and-winrt-apis/consume-apis.md
Labels: do-not-merge, Change sent to author, uwp/prod, platform/tech

#3415 xamarin-android: Native Android does not use XAML
  hub/android/xamarin-android.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, windows-android/tech

#3379 Update asynchronous-programming-in-cpp-universal-windows-platform-app…
  windows-apps-src/threading-async/asynchronous-programming-in-cpp-universal-windows-platform-apps.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, uwp/prod, processes-and-threading/tech

#3505 Update index.md
  hub/android/wsa/index.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, windows-android/tech

#3493 FancyZones zone settings file and typo update
  hub/powertoys/fancyzones.md
  hub/powertoys/shortcut-guide.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech

#3192 Add F#
  hub/dev-environment/index.md
  hub/dev-environment/toc.yml
  hub/images/fsharp-logo.png
Labels: doc-enhancement, do-not-merge, Change sent to author, aq-pr-triaged, windows-nodejs/tech, dev-environment/prod

#3308 Update the-app-certification-process.md
  windows-apps-src/publish/msiexe/the-app-certification-process.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, uwp/prod, uwp-conceptual-docs/tech

#3509 VS 2022 is required to target the .NET 6 SDK
  windows-apps-src/csharp-winrt/net-projection-from-cppwinrt-component.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, uwp/prod, platform/tech

#3513 change 2 remaining instances of v0.38.0 to v0.39.0
  hub/dev-environment/javascript/nodejs-on-wsl.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, windows-javascript/tech

#3520 Update troubleshooting.md
  hub/package-manager/winget/troubleshooting.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, package-manager/tech

#3508 Specify VS2022
  hub/apps/windows-app-sdk/system-requirements.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, reunion/prod

#3525 v0.51 updates
  hub/images/pt-mouse-highlighter.gif
  hub/powertoys/fancyzones.md
  hub/powertoys/mouse-utilities.md
  hub/powertoys/run.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech
