Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2022-09, with the labels that each got.

#4033 Update rss-reader-rust-for-windows.md
  hub/dev-environment/rust/rss-reader-rust-for-windows.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, windows-rust/tech

#3998 Added History plugin to Direct activation commands
  hub/powertoys/run.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech

#3957 [PowerToys] Docs update for activation command change
  hub/powertoys/run.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech

#4014 Notice for nvm-windows elevation issue
  hub/dev-environment/javascript/nodejs-on-windows.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, windows-javascript/tech

#4034 Update multilingual-app-toolkit-editor-downloads.md
  hub/apps/design/globalizing/multilingual-app-toolkit-editor-downloads.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, design/tech, reunion/prod

#4037 Updates to multilingual editor docs
  hub/apps/design/globalizing/multilingual-app-toolkit-editor-downloads.md
Labels: do-not-merge, Change sent to author, design/tech, reunion/prod

#4053 Update screen-ruler.md
  hub/powertoys/screen-ruler.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, needs-human-review

#4051 Update quick-accent.md
  hub/powertoys/quick-accent.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, qualifies-for-auto-merge

#4052 Update text-extractor.md
  hub/powertoys/text-extractor.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, qualifies-for-auto-merge

#4056 Update sqlite-databases.md
  windows-apps-src/data-access/sqlite-databases.md
Labels: do-not-merge, Change sent to author, uwp/prod, data-and-files/tech, qualifies-for-auto-merge
