Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2022-07, with the labels that each got.

#3893 Update run.md to include OneNote plugin description
  hub/powertoys/run.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, dev-environment/prod, powertoys/tech

#3888 fix link for Content property in uwp
  hub/apps/design/controls/expander.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, design/tech, reunion/prod

#3930 Update dialogs.md
  hub/apps/design/controls/dialogs-and-flyouts/dialogs.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, design/tech, reunion/prod

#3935 Update ratings-and-reviews.md
  windows-apps-src/publish/ratings-and-reviews.md
Labels: do-not-merge, Change sent to author, uwp/prod, publish/tech

#3938 Update BoxPanel custom panel example
  hub/apps/design/layout/boxpanel-example-custom-panel.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, design/tech, reunion/prod

#3941 Update app-icon-design.md
  hub/apps/design/style/iconography/app-icon-design.md
Labels: do-not-merge, Change sent to author, design/tech, reunion/prod

#3959 Update WinUI 2 versioning support for WinUI 2.8
  hub/apps/winui/index.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, review-team-triage, reunion/prod, winui-conceptual/tech
