Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2022-10, with the labels that each got.

#4081 Update Rust samples link
  hub/dev-environment/rust/rust-for-windows.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, windows-rust/tech, qualifies-for-auto-merge

#4074 PowerToys text improvements
  hub/powertoys/quick-accent.md
  hub/powertoys/screen-ruler.md
  hub/powertoys/text-extractor.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, dev-environment/prod, powertoys/tech, needs-human-review

#4078 Fixed Small Typo in Widget Size Table
  hub/apps/design/widgets/widgets-interaction-design.md
Labels: do-not-merge, Change sent to author, design/tech, reunion/prod, qualifies-for-auto-merge

#4080 Update index.md
  hub/apps/design/widgets/index.md
Labels: do-not-merge, needs-human-review

#4082 Update README.md to reflect public repo name
  README.md
Labels: do-not-merge, aq-pr-triaged, review-team-triage, needs-human-review

#4087 Update implement-widget-provider-win32.md
  hub/apps/develop/widgets/implement-widget-provider-win32.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, apps/tech, reunion/prod, qualifies-for-auto-merge

#4065 TextExtractor-20388: add SupportedLanguages and Troubleshooting sections
  hub/powertoys/text-extractor.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, dev-environment/prod, powertoys/tech, needs-human-review

#4009 Clarify CRT/C++ STL setting for ARM64X
  landing/arm-docs/arm64x-build.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, windows/prod, arm/tech

#4091 Fixed outdated URL.
  windows-apps-src/publish/link-to-your-app.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, uwp/prod, publish/tech, qualifies-for-auto-merge

#4019 Reflect latest changes made to Partner Center
  windows-apps-src/publish/respond-to-customer-reviews.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, uwp/prod, publish/tech

#4027 Update ComServer entry to match what the code actually expects
  hub/apps/windows-app-sdk/notifications/push-notifications/push-quickstart.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, reunion/prod

#4107 Nitpicking: fix JavaScript case
  hub/apps/performance/choose-between-tools.md
  hub/apps/winui/index.md
  uwp/get-started/create-a-basic-windows-10-app-in-cpp.md
  uwp/get-started/universal-application-platform-guide.md
  uwp/launch-resume/how-to-create-an-extension.md
  uwp/monetize/adcontrol-in-html-5-and-javascript.md
  uwp/monetize/banner-ads.md
  uwp/monetize/error-handling-in-javascript-walkthrough.md
  uwp/monetize/install-the-microsoft-advertising-libraries.md
  uwp/monetize/set-up-ad-units-in-your-app.md
  uwp/networking/web-feeds.md
  uwp/whats-new/windows-10-build-10586.md
  uwp/winrt-components/creating-windows-runtime-components-in-cpp.md
  uwp/xbox-apps/getting-started.md
Labels: do-not-merge, Change sent to author, publish/tech, reunion/prod, needs-human-review

#4116 Oldnewthing patch 1
  uwp/threading-async/submit-a-work-item-to-the-thread-pool.md
Labels: Change sent to author, ready-to-merge, uwp/prod, processes-and-threading/tech, qualifies-for-auto-merge
