Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2022-12, with the labels that each got.

#4180 ColorPicker: extending, updating the documentations
  hub/images/pt-colorpicker-activation.gif
  hub/images/pt-colorpicker-editor.gif
  hub/images/pt-colorpicker-settings.gif
  hub/images/pt-colorpicker-settings.png
  hub/powertoys/color-picker.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, needs-human-review

#4181 Add to list of unsupported WinRT APIs in desktop apps
  hub/apps/desktop/modernize/desktop-to-uwp-supported-api.md
Labels: do-not-merge, Change sent to author, apps/tech, reunion/prod, qualifies-for-auto-merge

#4084 Update xaml-styles.md
  hub/apps/design/style/xaml-styles.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, design/tech, reunion/prod, qualifies-for-auto-merge

#4182 Pcd 3953 rss reader tutorial
  hub/dev-environment/rust/rss-reader-rust-for-windows.md
  hub/images/rust-rss-reader-1.png
  hub/images/rust-rss-reader-2.png
  hub/images/rust-rss-reader-3.png
Labels: do-not-merge, Change sent to author, dev-environment/prod, windows-rust/tech, needs-human-review

#4184 PowerToys FancyZones docs update
  hub/images/pt-fancyzones-multimon.png
  hub/images/pt-fancyzones-picker.png
  hub/images/pt-fancyzones-settings.png
  hub/images/pt-fancyzones-spacearound.png
  hub/powertoys/fancyzones.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, needs-human-review

#4186 Add xmlns:com -> desktop-to-uwp-extensions.md
  hub/apps/desktop/modernize/desktop-to-uwp-extensions.md
Labels: do-not-merge, Change sent to author, apps/tech, reunion/prod, qualifies-for-auto-merge

#4189 Update quick-accent.md
  hub/powertoys/quick-accent.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, qualifies-for-auto-merge

#4183 Add instructions for installing in Sandbox
  hub/package-manager/winget/index.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, package-manager/tech, needs-human-review

#4205 Update rss-reader-rust-for-windows.md
  hub/dev-environment/rust/rss-reader-rust-for-windows.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, windows-rust/tech, qualifies-for-auto-merge

#4203 Fix typo
  uwp/cpp-and-winrt-apis/cpp-value-categories.md
Labels: do-not-merge, Change sent to author, uwp/prod, platform/tech, qualifies-for-auto-merge
