Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2022-02, with the labels that each got.

#3332 Usage of a nonexistent parameter
  hub/apps/windows-app-sdk/windowing/windowing-overview.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, reunion/prod, windowing/tech

#3636 PowerToys File Explorer add-ons changes
  hub/images/powertoys-fileexplorer-win11.gif
  hub/powertoys/file-explorer.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, review-team-triage, dev-environment/prod, powertoys/tech

#3654 Fix links to QueryInterface
  windows-apps-src/cpp-and-winrt-apis/consume-apis.md
Labels: do-not-merge, Change sent to author, uwp/prod, platform/tech

#3657 Update handle-events.md
  windows-apps-src/cpp-and-winrt-apis/handle-events.md
Labels: do-not-merge, Change sent to author, uwp/prod, platform/tech

#3660 Update pen-haptics.md
  hub/apps/design/input/pen-haptics.md
Labels: do-not-merge, Change sent to author, uwp/prod, design/tech

#3646 Updated NVM URL with latest version
  hub/dev-environment/javascript/nodejs-on-wsl.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, windows-javascript/tech

#3663 Update desktop-to-uwp-distribute.md
  hub/apps/desktop/modernize/desktop-to-uwp-distribute.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, uwp/prod, apps/tech

#3623 Update Figma Toolkit Info
  hub/apps/design/downloads/index.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, uwp/prod, design/tech

#3542 Update application-development-for-windows-as-a-service.md
  windows-apps-src/updates-and-versions/application-development-for-windows-as-a-service.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, uwp/prod, deployment/tech

#3451 Update the-app-certification-process.md
  windows-apps-src/publish/msiexe/the-app-certification-process.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, uwp/prod, uwp-conceptual-docs/tech

#3571 specify 143 vs 142 platformtoolset for C++
  hub/apps/windows-app-sdk/set-up-your-development-environment.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, reunion/prod

#3499 Update set-up-your-development-environment.md
  hub/apps/windows-app-sdk/set-up-your-development-environment.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, reunion/prod

#3472 updates for auto-initialization, remove old builds
  hub/apps/windows-app-sdk/tutorial-unpackaged-deployment.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, reunion/prod

#3673 Fix Q&A link
  hub/android/wsa/index.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, windows-android/tech

#3674 Update some docs to Windows 11
  hub/android/xamarin-android.md
  hub/android/xamarin-forms.md
  hub/dev-environment/docker/overview.md
  hub/dev-environment/javascript/gatsby-on-wsl.md
  hub/dev-environment/javascript/nextjs-on-wsl.md
  hub/dev-environment/javascript/nodejs-on-wsl.md
  hub/dev-environment/javascript/nodejs-overview.md
  hub/dev-environment/javascript/nuxtjs-on-wsl.md
  hub/dev-environment/javascript/react-on-windows.md
  hub/dev-environment/javascript/react-on-wsl.md
  hub/dev-environment/javascript/react-overview.md
  hub/dev-environment/javascript/vue-on-windows.md
  hub/dev-environment/javascript/vue-on-wsl.md
  hub/dev-environment/javascript/windows-or-wsl.md
  hub/dev-environment/rust/overview.md
  hub/package-manager/index.md
  hub/package-manager/winget/index.md
  windows-apps-src/apps-for-education/index.md
  windows-apps-src/apps-for-education/take-a-test-api.md
  windows-apps-src/publish/choose-visibility-options.md
  windows-apps-src/security/authentication-and-user-identity.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, windows-nodejs/tech, dev-environment/prod

#3681 Fix typo "Third-part" -> "Third-party"
  windows-apps-src/dotnet-native/serialization-and-metadata.md
Labels: do-not-merge, Change sent to author, uwp/prod, platform/tech

#3686 Fixing naming guidelines
  hub/apps/design/input/radialcontroller-walkthrough.md
  hub/apps/design/shell/tiles-and-notifications/adaptive-interactive-toasts.md
  hub/apps/design/shell/tiles-and-notifications/toast-schema.md
  hub/apps/winui/winui3/release-notes/winui3-project-reunion-0.5-preview.md
  hub/powertoys/install.md
  windows-apps-src/debug-test-perf/deploying-and-debugging-uwp-apps.md
  windows-apps-src/publish/acquisitions-report.md
  windows-apps-src/publish/add-on-acquisitions-report.md
  windows-apps-src/publish/app-management-and-services.md
  windows-apps-src/publish/app-screenshots-and-images.md
  windows-apps-src/publish/app-submissions.md
  windows-apps-src/publish/beta-testing-and-targeted-distribution.md
  windows-apps-src/publish/choose-visibility-options.md
  windows-apps-src/publish/configure-precise-release-scheduling.md
  windows-apps-src/publish/create-a-custom-app-promotion-campaign.md
  windows-apps-src/publish/create-app-store-listings.md
  windows-apps-src/publish/create-customer-groups.md
  windows-apps-src/publish/create-customer-segments.md
  windows-apps-src/publish/create-known-user-groups.md
  windows-apps-src/publish/create-platform-specific-store-listings.md
  windows-apps-src/publish/device-family-availability.md
  windows-apps-src/publish/distribute-lob-apps-to-enterprises.md
  windows-apps-src/publish/engage-with-your-customers.md
  windows-apps-src/publish/enter-app-properties.md
  windows-apps-src/publish/feedback-report.md
  windows-apps-src/publish/generate-promotional-codes.md
  windows-apps-src/publish/gradual-package-rollout.md
  windows-apps-src/publish/guidance-for-app-package-management.md
  windows-apps-src/publish/in-app-ads.md
  windows-apps-src/publish/package-flights.md
  windows-apps-src/publish/package-version-numbering.md
  windows-apps-src/publish/respond-to-customer-feedback.md
  windows-apps-src/publish/respond-to-customer-reviews.md
  windows-apps-src/publish/reviews-report.md
  windows-apps-src/publish/send-push-notifications-to-your-apps-customers.md
  windows-apps-src/publish/set-add-on-pricing-and-availability.md
  windows-apps-src/publish/set-and-schedule-app-pricing.md
  windows-apps-src/publish/set-app-pricing-and-availability.md
  windows-apps-src/publish/upload-app-packages.md
  windows-apps-src/publish/usage-report.md
Labels: do-not-merge, Change sent to author, publish/tech, reunion/prod
