Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2022-11, with the labels that each got.

#4077 Powertoys documentation update
  hub/images/pt-bug-report-template.png
  hub/powertoys/always-on-top.md
  hub/powertoys/install.md
  hub/powertoys/mouse-utilities.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech, needs-human-review, hacktoberfest

#4110 Add File Locksmith
  hub/images/powertoys-file-locksmith-restart-as-admin.png
  hub/images/powertoys-file-locksmith.gif
  hub/images/powertoys-file-locksmith.png
  hub/powertoys/file-locksmith.md
  hub/powertoys/index.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, needs-human-review

#4099 Minor edits to reflect actual values
  hub/android/wsa/index.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, windows-android/tech, needs-human-review

#4121 [PowerToys] Add docs for Hosts File Editor
  hub/images/pt-hosts-file-editor-add-new-entry.gif
  hub/images/pt-hosts-file-editor-facade.png
  hub/images/pt-hosts-file-editor-failed-to-save-hosts-file-error.png
  hub/images/pt-hosts-file-editor-filter.gif
  hub/powertoys/hosts-file-editor.md
  hub/powertoys/index.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, needs-human-review

#4120 Update PowerToys Chocolatey section
  hub/powertoys/install.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, qualifies-for-auto-merge

#4100 Update install.md
  hub/powertoys/install.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, qualifies-for-auto-merge

#4131 Update macros.md
  uwp/cpp-and-winrt-apis/macros.md
Labels: do-not-merge, Change sent to author, uwp/prod, platform/tech, qualifies-for-auto-merge

#4133 fix typo
  landing/arm-docs/overview.md
Labels: do-not-merge, Change sent to author, windows/prod, arm/tech, qualifies-for-auto-merge

#3961 Adding entry for a new error label in winget-validation page
  hub/package-manager/package/winget-validation.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, package-manager/tech

#4138 Updating docs to remove preview labels for .NET and VS
  landing/arm-docs/dev-kit/index.md
Labels: do-not-merge, Change sent to author, windows/prod, arm/tech, needs-human-review

#4140 Update overview.md
  landing/arm-docs/overview.md
Labels: do-not-merge, Change sent to author, windows/prod, arm/tech, qualifies-for-auto-merge

#4153 Updating Windows Insider Preview Text
  hub/apps/design/widgets/index.md
Labels: do-not-merge, Change sent to author, design/tech, reunion/prod, needs-human-review

#4154 Create grouppolicy.md
  hub/dev-environment/toc.yml
  hub/powertoys/grouppolicy.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, needs-human-review

#4152 Update index.md
  hub/powertoys/index.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, needs-human-review

#4145 Update get-started.md
  uwp/cpp-and-winrt-apis/get-started.md
Labels: do-not-merge, Change sent to author, uwp/prod, platform/tech, qualifies-for-auto-merge

#4134 fix(C++/WinRT): Update for Windows 11 settings
  uwp/cpp-and-winrt-apis/intro-to-using-cpp-with-winrt.md
Labels: do-not-merge, Change sent to author, uwp/prod, platform/tech, qualifies-for-auto-merge

#4144 Update index.md
  hub/apps/package-and-deploy/index.md
Labels: do-not-merge, Change sent to author, deployment/tech, reunion/prod, needs-human-review

#4162 Update awake.md
  hub/powertoys/awake.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, qualifies-for-auto-merge
