Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2022-03, with the labels that each got.

#3694 Update tutorial-unpackaged-deployment.md
  hub/apps/windows-app-sdk/tutorial-unpackaged-deployment.md
Labels: do-not-merge, Change sent to author, reunion/prod

#3697 Update Winget argument description for commands
  hub/package-manager/winget/export.md
  hub/package-manager/winget/hash.md
  hub/package-manager/winget/import.md
  hub/package-manager/winget/install.md
  hub/package-manager/winget/list.md
  hub/package-manager/winget/search.md
  hub/package-manager/winget/settings.md
  hub/package-manager/winget/show.md
  hub/package-manager/winget/source.md
  hub/package-manager/winget/uninstall.md
  hub/package-manager/winget/upgrade.md
  hub/package-manager/winget/validate.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, package-manager/tech

#3702 Desktop apps index page pointed to review articles
  hub/apps/desktop/index.yml
Labels: do-not-merge, Change sent to author, uwp/prod

#3712 Remove mention of using WinUI 3 with UWP
  hub/apps/winui/winui2/getting-started.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, reunion/prod, winui-conceptual/tech

#3717 Update create-your-first-winui3-app.md
  hub/apps/winui/winui3/create-your-first-winui3-app.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, reunion/prod, winui-conceptual/tech

#3719 Removed some dead links from tailoring-for-xbox
  windows-apps-src/xbox-apps/tailoring-for-xbox.md
Labels: do-not-merge, Change sent to author, uwp/prod, games/tech

#3720 Update index.md
  hub/package-manager/winget/index.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, package-manager/tech

#3725 Update use-mat.md
  hub/apps/design/globalizing/use-mat.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, design/tech, reunion/prod

#3724 Fix lifetime issues
  windows-apps-src/threading-async/submit-a-work-item-to-the-thread-pool.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, uwp/prod, processes-and-threading/tech

#3732 Fix XML namespaces of `windows.sharedFonts`
  hub/apps/desktop/modernize/desktop-to-uwp-extensions.md
Labels: do-not-merge, Change sent to author, apps/tech, reunion/prod

#3729 Update PowerToys video conference mute known issues section
  hub/powertoys/video-conference-mute.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech

#3731 Fixed casing of GitHub
  hub/apps/winui/index.md
Labels: do-not-merge, Change sent to author, reunion/prod, winui-conceptual/tech

#3739 typo fix: tutorials
  hub/apps/whats-new/latest-doc-updates.md
Labels: do-not-merge, Change sent to author, apps/tech, reunion/prod

#3740 Remove DisplayRequest from "not supported" for WinAppSDK
  hub/apps/windows-app-sdk/migrate-to-windows-app-sdk/what-is-supported.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, get-started/tech, reunion/prod

#3392 Update modernize-wpf-tutorial.md
  hub/apps/desktop/modernize/modernize-wpf-tutorial.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, uwp/prod, apps/tech

#3684 .net6.0 also requires Windows TFM
  hub/apps/design/shell/tiles-and-notifications/includes/nuget-package-dotnet-warnings.md
Labels: doc-enhancement, do-not-merge, Change sent to author, aq-pr-triaged

#3752 Update installer link from WinUI3 tutorial
  hub/apps/winui/winui3/create-your-first-winui3-app.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, reunion/prod, winui-conceptual/tech

#3750 Update composition-effects.md and fix code compile
  windows-apps-src/composition/composition-effects.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, uwp/prod, platform/tech

#3753 Update apply-rounded-corners.md
  hub/apps/desktop/modernize/apply-rounded-corners.md
Labels: Change sent to author, ready-to-merge, apps/tech, reunion/prod

#3748 [PowerToys] Update and reorganize the PT Run page
  hub/images/pt-run-explorer-info.png
  hub/images/pt-run-folder-options.png
  hub/images/pt-run-indexer-warning.png
  hub/images/pt-run-monitor.png
  hub/images/pt-run-plugin-manager.png
  hub/powertoys/install.md
  hub/powertoys/run.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech
