Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2022-01, with the labels that each got.

#3599 Update create-your-app-by-reserving-a-name.md
  windows-apps-src/publish/msiexe/create-your-app-by-reserving-a-name.md
Labels: do-not-merge, Change sent to author, uwp/prod, uwp-conceptual-docs/tech

#3589 dialog indicated only appears with CodeLLDB ext
  hub/dev-environment/rust/setup.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, windows-rust/tech

#3600 0.53 web search plugin addition
  hub/powertoys/run.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech

#3582 Clarify how to override methods in C++/WinRT
  windows-apps-src/cpp-and-winrt-apis/author-apis.md
  windows-apps-src/cpp-and-winrt-apis/xaml-cust-ctrl.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, uwp/prod, platform/tech

#3595 Update fancyzones.md
  hub/powertoys/fancyzones.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech

#3592 Updating docs from PT issue 13940
  hub/powertoys/index.md
  hub/powertoys/shortcut-guide.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech

#3602 Update winui3.md
  hub/apps/windows-app-sdk/migrate-to-windows-app-sdk/guides/winui3.md
Labels: do-not-merge, Change sent to author, reunion/prod

#3601 [0.53 PowerToy update] - Always on top and new args
  hub/dev-environment/toc.yml
  hub/images/pt-always-on-top-menu.png
  hub/images/pt-always-on-top.png
  hub/powertoys/always-on-top.md
  hub/powertoys/index.md
  hub/powertoys/install.md
  hub/powertoys/mouse-utilities.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech

#3605 Update notes for appeal process
  windows-apps-src/publish/age-ratings.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, uwp/prod, publish/tech

#3617 Change PowerToys VCM shortcut as 0.53 update
  hub/powertoys/index.md
  hub/powertoys/video-conference-mute.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech

#3352 Add extract parameter to file upload
  windows-apps-src/debug-test-perf/device-portal-api-core.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, uwp/prod, deployment/tech

#3511 Include keyboard accelerators in tooltips
  hub/apps/design/controls/tooltips.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, uwp/prod, design/tech

#3587 Update alignment-margin-padding.md
  hub/apps/design/layout/alignment-margin-padding.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, uwp/prod, design/tech

#3631 adding in a slug on "deleting" == merging for grid layouts
  hub/powertoys/fancyzones.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech

#3624 Adding in a 'how to fix a quirk' with the old bootstrapper
  hub/powertoys/install.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech

#3557 Update resource guidance to match NuGet package readme
  hub/apps/winui/winui2/getting-started.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, reunion/prod, winui-conceptual/tech

#3640 Update some docs to Windows 11
  hub/dev-environment/mac-to-windows.md
  hub/dev-environment/tips.md
  hub/python/beginners.md
  hub/python/faqs.yml
  hub/python/index.yml
  hub/python/resources.md
  hub/python/web-frameworks.md
  hub/web/apis.md
  hub/web/index.md
  landing/arm-docs/TOC.md
  windows-apps-src/breadcrumbs/toc.yml
  windows-apps-src/contacts-and-calendar/my-people-notifications.md
  windows-apps-src/contacts-and-calendar/my-people-sharing.md
  windows-apps-src/contacts-and-calendar/my-people-support.md
  windows-apps-src/develop/index.md
  windows-apps-src/develop/toc.yml
  windows-apps-src/enterprise/customer-database-tutorial.md
  windows-apps-src/enterprise/index.md
  windows-apps-src/enterprise/wip-hub.md
  windows-apps-src/packaging/app-capability-declarations.md
  windows-apps-src/packaging/auto-build-package-uwp-apps.md
  windows-apps-src/packaging/index.md
  windows-apps-src/packaging/install-universal-windows-apps-with-the-winappdeploycmd-tool.md
  windows-apps-src/updates-and-versions/choose-a-uwp-version.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, review-team-triage

#3634 Updated Powertoys available languages list
  hub/powertoys/index.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech

#3641 update relnote on ref to C++/WinRT components
  hub/apps/windows-app-sdk/stable-channel.md
Labels: do-not-merge, Change sent to author, reunion/prod

#3573 Update developer-mode-features-and-debugging.md
  hub/apps/get-started/developer-mode-features-and-debugging.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, uwp/prod, apps/tech

#3577 Fix incorrect link
  windows-apps-src/get-started/settings-learning-track.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, uwp/prod, get-started/tech

#3650 Change "1.0.0-stable" to "1.0.0"
  hub/apps/windows-app-sdk/update-existing-projects-to-the-latest-release.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, reunion/prod

#3642 PowerToys Run: Add new system plugin command to docs
  hub/powertoys/run.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech
