Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2022-08, with the labels that each got.

#3974 Fix link
  hub/apps/design/basics/commanding-basics.md
Labels: do-not-merge, Change sent to author, design/tech, reunion/prod

#3976 PowerToys: Add two examples of RegEx search/replace
  hub/powertoys/powerrename.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, dev-environment/prod, powertoys/tech

#3980 Also set the default toolchain to use with rustup.
  hub/dev-environment/rust/setup.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, windows-rust/tech

#3973 [PowerToys] Aligned installation requirements
  hub/powertoys/index.md
  hub/powertoys/install.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech

#3971 Adding more direct multi-zone snapping language for fancy zones
  hub/powertoys/fancyzones.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech

#3981 fixing relative link
  hub/powertoys/install.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech

#3970 Update documentation for Package Manager 1.3 client
  hub/package-manager/winget/features.md
  hub/package-manager/winget/images/listUpgrade.gif
  hub/package-manager/winget/images/settings.png
  hub/package-manager/winget/images/upgrade.gif
  hub/package-manager/winget/index.md
  hub/package-manager/winget/install.md
  hub/package-manager/winget/settings.md
  hub/package-manager/winget/uninstall.md
  hub/package-manager/winget/upgrade.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, package-manager/tech

#3982 Update ratings-and-reviews.md
  windows-apps-src/publish/ratings-and-reviews.md
Labels: do-not-merge, Change sent to author, uwp/prod, publish/tech

#3983 Revert "Update ratings-and-reviews.md"
  windows-apps-src/publish/ratings-and-reviews.md
Labels: do-not-merge, Change sent to author, uwp/prod, publish/tech

#3985 Correct experimental channel feature matrix
  hub/apps/windows-app-sdk/release-channels.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, apps/tech, reunion/prod

#3991 Update getting-started.md for WinUI 2.8
  hub/apps/winui/winui2/getting-started.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, reunion/prod, winui-conceptual/tech

#3995 Update folder name casing
  landing/arm-docs/arm64x-pe.md
Labels: do-not-merge, Change sent to author, windows/prod, arm/tech

#4004 Remove UWP references, data binding is for Win32 and UWP Xaml apps
  windows-apps-src/data-binding/data-binding-in-depth.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, uwp/prod, data-and-files/tech

#3999 Adjust heading for clarity
  hub/apps/get-started/enable-your-device-for-development.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, get-started/tech, reunion/prod

#4018 Update data-binding-quickstart.md
  windows-apps-src/data-binding/data-binding-quickstart.md
Labels: do-not-merge, Change sent to author, uwp/prod, data-and-files/tech

#3929 Documented search paths for PowerToys Run
  hub/powertoys/run.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech
