Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2023-07, with the labels that each got.

#4507 Add Proper Winget Version
  hub/package-manager/winget/configure.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, package-manager/tech, qualifies-for-auto-merge

#4520 Update WinGet supported commands
  hub/package-manager/winget/index.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, package-manager/tech, needs-human-review

#4537 Add lack of Visual Designer in WinUI 3
  hub/apps/windows-app-sdk/migrate-to-windows-app-sdk/what-is-supported.md
Labels: do-not-merge, Change sent to author, get-started/tech, reunion/prod, qualifies-for-auto-merge

#4536 Update get-started.md
  uwp/cpp-and-winrt-apis/get-started.md
Labels: do-not-merge, Change sent to author, uwp/prod, platform/tech, qualifies-for-auto-merge

#4540 Making it clear that these commands need to be run via Windows PowerShell
  hub/powertoys/text-extractor.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, qualifies-for-auto-merge

#4526 Update arguments and options of WinGet commands
  hub/package-manager/winget/export.md
  hub/package-manager/winget/hash.md
  hub/package-manager/winget/import.md
  hub/package-manager/winget/install.md
  hub/package-manager/winget/list.md
  hub/package-manager/winget/pinning.md
  hub/package-manager/winget/search.md
  hub/package-manager/winget/show.md
  hub/package-manager/winget/source.md
  hub/package-manager/winget/uninstall.md
  hub/package-manager/winget/upgrade.md
  hub/package-manager/winget/validate.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, package-manager/tech, needs-human-review

#4544 Update sandbox installation steps for WinGet
  hub/package-manager/winget/index.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, package-manager/tech, needs-human-review

#4548 Add aliases for WinGet Commands
  hub/package-manager/winget/configure.md
  hub/package-manager/winget/install.md
  hub/package-manager/winget/list.md
  hub/package-manager/winget/search.md
  hub/package-manager/winget/settings.md
  hub/package-manager/winget/show.md
  hub/package-manager/winget/source.md
  hub/package-manager/winget/uninstall.md
  hub/package-manager/winget/upgrade.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, package-manager/tech, qualifies-for-auto-merge

#4551 Add tip for opening logs directory
  hub/package-manager/winget/troubleshooting.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, package-manager/tech, qualifies-for-auto-merge

#4550 Add section for exit codes in troubleshooting
  hub/package-manager/winget/troubleshooting.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, package-manager/tech, qualifies-for-auto-merge
