Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2023-01, with the labels that each got.

#4213 Update "MS Edge" in Apps for Websites to "MS Edge Legacy"
  uwp/launch-resume/web-to-app-linking.md
Labels: do-not-merge, Change sent to author, uwp/prod, processes-and-threading/tech, qualifies-for-auto-merge

#4151 Update docs for PowerToys/ShortcutGuide
  hub/images/pt-shortcut-guide-settings.png
  hub/powertoys/shortcut-guide.md
Labels: needs-more-info, do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, needs-human-review

#4197 ColorPicker fix typo
  hub/powertoys/color-picker.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, qualifies-for-auto-merge

#4209 small changes
  hub/powertoys/powerrename.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, needs-human-review

#4175 XamlUiCommand -> XamlUICommand in commanding.md
  hub/apps/design/controls/commanding.md
Labels: Change sent to author, ready-to-merge, design/tech, reunion/prod, qualifies-for-auto-merge

#4215 Corrected a typo in the Custom BLE services protocol identifier
  uwp/devices-sensors/aep-service-class-ids.md
Labels: do-not-merge, Change sent to author, uwp/prod, peripherals-sensors-and-power/tech, qualifies-for-auto-merge

#4234 Fix typo pointing to BC1 instead of BC4
  uwp/graphics-concepts/block-compression.md
Labels: do-not-merge, Change sent to author, uwp/prod, platform/tech

#4159 Updated DirectX support (Xbox Series X|S) section to include DirectX 12 in the Apps subsection
  uwp/xbox-apps/system-resource-allocation.md
Labels: do-not-merge, Change sent to author, uwp/prod, games/tech, qualifies-for-auto-merge

#4249 [PowerToys]Update Awake settings screenshot
  hub/images/pt-awake-settings-menu.png
Labels: do-not-merge, review-team-triage, needs-human-review

#4255 Update instructions for converting a project to use Single-project MSIX Packaging
  hub/apps/windows-app-sdk/single-project-msix.md
Labels: do-not-merge, Change sent to author, apps/tech, reunion/prod, qualifies-for-auto-merge

#4258 Fix typo in localize-strings-ui-manifest.md
  uwp/app-resources/localize-strings-ui-manifest.md
Labels: do-not-merge, Change sent to author, uwp/prod, data-and-files/tech, qualifies-for-auto-merge
