Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2023-08, with the labels that each got.

#4556 Fixes typo
  hub/dev-drive/index.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, needs-human-review, windows-devhome/tech

#4509 Powertoys Run ValueGenerator docs
  hub/powertoys/run.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, qualifies-for-auto-merge

#4560 Update create.md
  hub/package-manager/configuration/create.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, package-manager/tech, qualifies-for-auto-merge

#4572 PowerToys improvements
  hub/images/powertoys-mouse-without-borders-enter-security-key.png
  hub/images/powertoys-mouse-without-borders-press-new-key.png
  hub/powertoys/always-on-top.md
  hub/powertoys/color-picker.md
  hub/powertoys/fancyzones.md
  hub/powertoys/file-explorer.md
  hub/powertoys/file-locksmith.md
  hub/powertoys/general.md
  hub/powertoys/hosts-file-editor.md
  hub/powertoys/image-resizer.md
  hub/powertoys/keyboard-manager.md
  hub/powertoys/mouse-utilities.md
  hub/powertoys/mouse-without-borders.md
  hub/powertoys/powerrename.md
  hub/powertoys/quick-accent.md
  hub/powertoys/registry-preview.md
  hub/powertoys/run.md
  hub/powertoys/screen-ruler.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, needs-human-review

#4574 Update index.md
  hub/dev-home/index.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, needs-human-review, windows-devhome/tech

#4582 WSA redirect to Windows apps
  hub/android/wsa/index.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, windows-android/tech, needs-human-review

#4588 Add direct link to templates directory within the GitHub project
  hub/apps/winui/winui3/winui-project-templates-in-visual-studio.md
Labels: do-not-merge, Change sent to author, reunion/prod, winui-conceptual/tech, qualifies-for-auto-merge

#4594 Explicitate that accelerators are instantiated as virtual-keys.
  hub/apps/design/input/keyboard-accelerators.md
Labels: do-not-merge, Change sent to author, design/tech, reunion/prod, qualifies-for-auto-merge

#4561 Add Base64 Decoding to PowerToys Run
  hub/powertoys/run.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, qualifies-for-auto-merge

#4569 [PowerToys]Add docs for Crop And Lock
  hub/images/powertoys-crop-and-lock.gif
  hub/images/powertoys-crop-and-lock.png
  hub/powertoys/crop-and-lock.md
  hub/powertoys/index.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, needs-human-review

#4581 Update PowerToys.PowerRename Enumerate Items functionality
  hub/powertoys/powerrename.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, qualifies-for-auto-merge
