Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2023-12, with the labels that each got.

#4735 [PowerToys] Updates for v0.76.0: Add QOI provider to policies and File Explorer page
  hub/powertoys/file-explorer.md
  hub/powertoys/grouppolicy.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, qualifies-for-auto-merge

#4761 [PowerToys][Keyboard manager] Update docs
  hub/images/powertoys-keyboard-remap-a-b.png
  hub/images/powertoys-keyboard-remap-orphaned.png
  hub/images/powertoys-keyboard-remap-shortcut.png
  hub/images/powertoys-keyboard-remap.png
  hub/images/pt-key-remap-drop-down.png
  hub/powertoys/keyboard-manager.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, needs-human-review

#4762 [PowerToys][FileExplorer Add-ons] Add QOI preview handler and thumbna…
  hub/powertoys/file-explorer.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, qualifies-for-auto-merge

#4783 [Attached properties] Remove incorrect documentation about C++/WinRT
  uwp/xaml-platform/custom-attached-properties.md
Labels: do-not-merge, Change sent to author, uwp/prod, platform/tech, qualifies-for-auto-merge

#4789 Update author-apis.md
  uwp/cpp-and-winrt-apis/author-apis.md
Labels: do-not-merge, Change sent to author, uwp/prod, platform/tech, qualifies-for-auto-merge

#4788 Update binding-property.md
  uwp/cpp-and-winrt-apis/binding-property.md
Labels: do-not-merge, Change sent to author, uwp/prod, platform/tech, qualifies-for-auto-merge

#4794 Update always-on-top.md
  hub/powertoys/always-on-top.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, needs-human-review

#4796 Update color-picker.md
  hub/powertoys/color-picker.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, needs-human-review

#4795 Fix various typos
  hub/android/native-android.md
  hub/apps/design/accessibility/landmarks-and-headings.md
  hub/apps/design/app-settings/store-and-retrieve-app-data.md
  hub/apps/design/basics/content-basics.md
  hub/apps/design/basics/titlebar-design.md
  hub/apps/design/controls/content-links.md
  hub/apps/design/devices/designing-for-MR.md
  hub/apps/design/globalizing/multilingual-app-toolkit-editor-downloads.md
  hub/apps/design/globalizing/use-patterns-to-format-dates-and-times.md
  hub/apps/design/in-app-help/in-app-help.md
  hub/apps/design/input/access-keys.md
  hub/apps/design/input/convert-ink-to-text.md
  hub/apps/design/input/cortana-deep-link-into-your-app.md
  hub/apps/design/input/guidelines-for-visualfeedback.md
  hub/apps/design/layout/depth-shadow.md
  hub/apps/design/shell/tiles-and-notifications/adaptive-interactive-toasts.md
  hub/apps/design/shell/tiles-and-notifications/chaseable-tile-notifications.md
  hub/apps/design/shell/tiles-and-notifications/custom-timestamps-on-toasts.md
  hub/apps/design/shell/tiles-and-notifications/firewall-allowlist-config.md
  hub/apps/design/style/segoe-fluent-icons-font.md
  hub/apps/desktop/modernize/xaml-islands.md
  hub/apps/develop/communication.md
  hub/apps/develop/data-access/index.md
  hub/apps/develop/platform/csharp-winrt/net-projection-from-cppwinrt-component.md
  hub/apps/develop/widgets/widget-provider-manifest.md
  hub/apps/develop/win2d/using-win2d-without-built-in-controls.md
  hub/apps/get-started/samples.md
  hub/apps/package-and-deploy/index.md
  hub/apps/publish/partner-center/associate-existing-azure-ad-tenant-with-partner-center-account.md
  hub/apps/publish/partner-center/create-new-azure-ad-tenant.md
  hub/apps/windows-app-sdk/experimental-channel.md
  hub/apps/windows-app-sdk/migrate-to-windows-app-sdk/case-study-1.md
  hub/apps/windows-app-sdk/migrate-to-windows-app-sdk/migrate-to-windows-app-sdk-ovw.md
  hub/apps/windows-app-sdk/single-project-msix.md
  hub/dev-environment/javascript/nodejs-overview.md
  hub/includes/store/msi/app-submission-control.md
  hub/includes/store/msi/upload-app-packages.md
  hub/includes/store/msix/upload-app-packages.md
  hub/web/index.md
  landing/arm-docs/add-arm-support.md
  landing/arm-docs/arm64ec-build.md
Labels: do-not-merge, review-team-triage, needs-human-review
