Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2023-04, with the labels that each got.

#4365 Update simple-photo-viewer-winui3.md
  hub/apps/get-started/simple-photo-viewer-winui3.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, get-started/tech, reunion/prod, qualifies-for-auto-merge

#4372 Fix typo
  hub/apps/windows-app-sdk/migrate-to-windows-app-sdk/guides/windowing.md
Labels: do-not-merge, Change sent to author, get-started/tech, reunion/prod, qualifies-for-auto-merge

#4360 [PowerToys] Update VCM docs - push-to-talk feature
  hub/images/pt-video-conference-mute-settings.png
  hub/powertoys/video-conference-mute.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech, needs-human-review

#4328 adding a tip about powertoys calculator plugin
  hub/powertoys/run.md
Labels: do-not-merge, aq-pr-triaged, dev-environment/prod, powertoys/tech, qualifies-for-auto-merge

#4353 [Registry Preview] Initial drop of registry-preview.md and screenshot
  hub/images/pt-registrypreview.png
  hub/powertoys/index.md
  hub/powertoys/registry-preview.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech, needs-human-review

#4355 Add info that PowerToys run might get no focus when "Centralized keyboard shortcut" is used.
  hub/powertoys/run.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech, qualifies-for-auto-merge

#4370 update powershell snippet for installing in wsb
  hub/package-manager/winget/index.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, package-manager/tech, needs-human-review

#4381 Update index to make wording more natural
  hub/apps/windows-dotnet-maui/index.md
Labels: do-not-merge, Change sent to author, apps/tech, reunion/prod, needs-human-review

#4383 Updated index to put Windows 11 after Windows 10
  hub/apps/windows-dotnet-maui/index.md
Labels: do-not-merge, Change sent to author, apps/tech, needs-human-review

#4398 Fix english typos and grammar in documentation
  README.md
  uwp/app-resources/build-resources-into-app-package.md
  uwp/app-resources/compile-resources-manually-with-makepri.md
  uwp/app-resources/how-rms-matches-and-chooses-resources.md
  windows-apps-src/develop/index.md
  windows-apps-src/porting/index.md
Labels: do-not-merge, review-team-triage, needs-human-review
