Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2023-02, with the labels that each got.

#4214 PT Run: Update RB command on SysPlugin section
  hub/powertoys/run.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech

#4272 winget is not pre-installed on Win11
  hub/package-manager/winget/index.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, package-manager/tech, needs-human-review

#4280 Add registration note
  hub/package-manager/winget/index.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, package-manager/tech, needs-human-review

#4266 Update arm64ec.md
  landing/arm-docs/arm64ec.md
Labels: do-not-merge, Change sent to author, windows/prod, arm/tech, qualifies-for-auto-merge

#4269 Fix typo
  uwp/maps-and-location/index.md
Labels: do-not-merge, Change sent to author, uwp/prod, people-and-places/tech, needs-human-review

#4193 Fix bad doc guidance around auth
  uwp/monetize/create-and-manage-submissions-using-windows-store-services.md
Labels: Change sent to author, ready-to-merge, uwp/prod, publish/tech, qualifies-for-auto-merge

#4235 fix age and xboxTitleId attributes for groupby
  uwp/monetize/acquisitions-data.md
Labels: Change sent to author, ready-to-merge, uwp/prod, publish/tech, qualifies-for-auto-merge

#4238 Update docs based on feedback from customers and feature PM
  hub/apps/publish/gradual-package-rollout.md
Labels: Change sent to author, ready-to-merge, apps/tech, reunion/prod

#4293 Use angle brackets to include WinUI headers
  hub/apps/winui/winui2/getting-started.md
Labels: do-not-merge, Change sent to author, reunion/prod, winui-conceptual/tech, qualifies-for-auto-merge

#4292 Update index.md
  hub/android/wsa/index.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, windows-android/tech, needs-human-review
