Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2023-11, with the labels that each got.

#4711 Update app-capability-declarations.md to add HumanPresence
  uwp/packaging/app-capability-declarations.md
Labels: do-not-merge, Change sent to author, uwp/prod, deployment/tech, qualifies-for-auto-merge

#4710 Remove extra ".com" in the hyperlink
  hub/dev-drive/index.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, needs-human-review, windows-devhome/tech

#4726 Use consistent spelling for 'cancelation' and 'canceled'
  uwp/cpp-and-winrt-apis/concurrency-2.md
  uwp/cpp-and-winrt-apis/news.md
Labels: do-not-merge, Change sent to author, uwp/prod, platform/tech, qualifies-for-auto-merge

#4732 Fix spelling mistake
  hub/apps/develop/files/dotnet-files.md
Labels: do-not-merge, Change sent to author, apps/tech, reunion/prod, qualifies-for-auto-merge

#4719 [PowerToys] Group Policies documentation: Update layout and add informations
  hub/powertoys/grouppolicy.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, needs-human-review

#4745 Update perfview download links
  uwp/debug-test-perf/best-practices-for-your-app-s-startup-performance.md
  uwp/dotnet-native/measuring-startup-improvement-with-net-native.md
Labels: do-not-merge, Change sent to author, uwp/prod, platform/tech, needs-human-review, docs-editor-pilot

#4752 Update optimize-xaml-loading.md
  uwp/debug-test-perf/optimize-xaml-loading.md
Labels: do-not-merge, Change sent to author, uwp/prod, deployment/tech, qualifies-for-auto-merge

#4685 Update getting-started.md for winui2.8
  hub/apps/winui/winui2/getting-started.md
Labels: do-not-merge, Change sent to author, reunion/prod, winui-conceptual/tech, qualifies-for-auto-merge

#4615 Add DragDrop Winappsdk apis to docs
  hub/apps/design/input/drag-and-drop.md
Labels: do-not-merge, Change sent to author, design/tech, reunion/prod

#4744 Update schedule-pricing-changes.md
  hub/includes/store/msix/schedule-pricing-changes.md
Labels: do-not-merge, review-team-triage, qualifies-for-auto-merge
