Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2023-06, with the labels that each got.

#4460 Update sign-up.md
  hub/apps/get-started/sign-up.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, get-started/tech, reunion/prod, qualifies-for-auto-merge

#4473 Update dsc yaml exmaple in create.md to fix failure when using it.
  hub/package-manager/configuration/create.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, package-manager/tech

#4474 Fixing menu option in index.md
  hub/dev-drive/index.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, uwp/prod

#4434 Update title bar page to reflect changes of Windows App SDK 1.3.1
  hub/apps/develop/title-bar.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, apps/tech, reunion/prod, qualifies-for-auto-merge

#4478 Fix a typo in dev-drive/index.md
  hub/dev-drive/index.md
Labels: do-not-merge, Change sent to author, uwp/prod, needs-human-review

#4476 [Peek] Update docs to reflect new navigation keys
  hub/powertoys/peek.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech, qualifies-for-auto-merge

#4405 Fix CS1002 in TrySetSystemBackdrop method
  hub/apps/windows-app-sdk/system-backdrop-controller.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, apps/tech, reunion/prod, qualifies-for-auto-merge

#4219 Fix code in 'Use NavigationView instead of Pivot'
  hub/apps/design/controls/pivot.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, design/tech, reunion/prod, needs-human-review

#3820 Change title bar height (Mica material)
  hub/apps/design/style/mica.md
Labels: Change sent to author, aq-pr-triaged, review-team-triage, design/tech, reunion/prod

#4483 docs(Uno): SimplePhotos multiplatform tutorial
  hub/apps/get-started/images/uno/screenshot1.png
  hub/apps/get-started/images/uno/screenshot2.png
  hub/apps/get-started/images/uno/screenshot3.png
  hub/apps/get-started/images/uno/uno-configure-project.png
  hub/apps/get-started/images/uno/xaml-attached-layout-realizationrect.png
  hub/apps/get-started/uno-simple-photo-viewer.md
  hub/apps/how-tos/uno-multiplatform.md
  hub/apps/images/uno/uno-create-project.png
  hub/apps/images/uno/uno-extensions.png
  hub/apps/images/uno/uno-manage-extensions.png
  hub/apps/images/uno/uno-mobile-debug.png
  hub/apps/images/uno/uno-new-project.png
  hub/apps/images/uno/uno-project-reload.png
  hub/apps/images/uno/uno-vs-install-dotnet-mobile.png
  hub/apps/images/uno/uno-vs-install-dotnet.png
  hub/apps/images/uno/uno-vs-install-web.png
  hub/apps/images/uno/uno-vsix-new-project-options.png
  hub/apps/images/vs2022-project-reload.png
  hub/apps/toc.yml
  hub/includes/uno-setup.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, uwp/prod, apps/tech, needs-human-review

#4492 Update uno-setup.md
  hub/includes/uno-setup.md
Labels: do-not-merge, aq-pr-triaged, review-team-triage, needs-human-review

#4471 Add space after metadata
  uwp/monetize/index.md
Labels: aq-pr-triaged

#4491 Fix PRIVACY.md hyperlink
  hub/package-manager/winget/settings.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, package-manager/tech, qualifies-for-auto-merge

#4501 chore: add missing words
  hub/apps/get-started/simple-photo-viewer-winui3.md
Labels: do-not-merge, Change sent to author, get-started/tech, reunion/prod, qualifies-for-auto-merge

#4503 Fix broken WinUI GitHub link
  hub/apps/winui/index.md
Labels: do-not-merge, Change sent to author, reunion/prod, winui-conceptual/tech

#4488 Add section for unpackaged apps
  hub/apps/develop/windows-app-restore.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, apps/tech, reunion/prod, qualifies-for-auto-merge
