Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2023-03, with the labels that each got.

#4318 Update install.md
  hub/powertoys/install.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, qualifies-for-auto-merge

#4316 [PowerToys]Document new Mouse Jump utility
  hub/images/pt-mouse-jump.gif
  hub/powertoys/mouse-utilities.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, needs-human-review

#4311 Documentation for New PowerToys Toy (Paste As Plain Text)
  hub/dev-environment/toc.yml
  hub/images/pt-paste-as-plain-text.png
  hub/powertoys/index.md
  hub/powertoys/paste-as-plain-text.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, needs-human-review

#4262 fix: Fix a typo
  hub/package-manager/package/repository.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, package-manager/tech, qualifies-for-auto-merge

#4300 Update create-app-submission.md
  hub/apps/publish/publish-your-app/create-app-submission.md
Labels: do-not-merge, Change sent to author, apps/tech, reunion/prod, qualifies-for-auto-merge

#4324 [PowerToys]Update Paste Plain default shortcut and add warning
  hub/powertoys/paste-as-plain-text.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, qualifies-for-auto-merge

#4327 A couple of spelling/reference corrections
  hub/apps/windows-dotnet-maui/walkthrough-first-app.md
Labels: do-not-merge, Change sent to author, apps/tech, reunion/prod

#4268 Fix typo
  hub/includes/store/msix/create-app-submission.md
Labels: do-not-merge, Change sent to author, uwp/prod, qualifies-for-auto-merge

#4312 Don’t imply that winui 3 is open source
  hub/apps/winui/winui3/index.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, reunion/prod, winui-conceptual/tech, needs-human-review

#4270 Update beginners.md to fix outdated links
  hub/python/beginners.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, windows-python/tech

#4329 Revised obj file name and added a tip on cl error.
  landing/arm-docs/arm64x-build.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, windows/prod, arm/tech

#4333 Fix typo
  uwp/launch-resume/code/ReduceMemory/cs/App.xaml.cs
Labels: do-not-merge, review-team-triage, qualifies-for-auto-merge

#4338 Update store-policies.md
  hub/apps/publish/store-policies.md
Labels: do-not-merge, Change sent to author, reunion/prod, qualifies-for-auto-merge

#4345 Update fancyzones.md
  hub/powertoys/fancyzones.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech, qualifies-for-auto-merge, docs-editor-pilot

#4346 Update CI for WinUI 3 instructions to not use solution name for upload
  hub/apps/package-and-deploy/ci-for-winui3.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, deployment/tech, reunion/prod, qualifies-for-auto-merge

#4351 Fix type in resume-an-app.md
  uwp/launch-resume/resume-an-app.md
Labels: do-not-merge, Change sent to author, uwp/prod, processes-and-threading/tech, qualifies-for-auto-merge

#4352 Update suspend-an-app.md
  uwp/launch-resume/suspend-an-app.md
Labels: do-not-merge, Change sent to author, uwp/prod, processes-and-threading/tech, qualifies-for-auto-merge

#4350 docs: multi-platform with Uno tutorial
  hub/apps/how-tos/images/hello-world/manage-extensions.png
  hub/apps/how-tos/images/hello-world/net7-ios-debug.png
  hub/apps/how-tos/images/hello-world/uno-create-project.png
  hub/apps/how-tos/images/hello-world/uno-extensions.PNG
  hub/apps/how-tos/images/hello-world/uno-file-structure.png
  hub/apps/how-tos/images/hello-world/uno-hello-world.png
  hub/apps/how-tos/images/hello-world/uno-new-project.png
  hub/apps/how-tos/images/hello-world/vs-install-dotnet-mobile.png
  hub/apps/how-tos/images/hello-world/vs-install-dotnet.png
  hub/apps/how-tos/images/hello-world/vs-install-web.png
  hub/apps/how-tos/images/hello-world/vs2022-project-reload.png
  hub/apps/how-tos/images/hello-world/vsix-new-project-options.png
  hub/apps/how-tos/uno-multiplatform.md
  hub/apps/toc.yml
Labels: do-not-merge, aq-pr-triaged, needs-human-review
