Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2023-05, with the labels that each got.

#4382 Update awake.md
  hub/powertoys/awake.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech, qualifies-for-auto-merge

#4403 Update windows-package-manager-policies.md
  hub/package-manager/package/windows-package-manager-policies.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, package-manager/tech, qualifies-for-auto-merge

#4393 Update docs that canvas model allows overlapping
  hub/powertoys/fancyzones.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech, qualifies-for-auto-merge

#4385 Update Awake documentation with --expire-at command-line
  hub/powertoys/awake.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech, qualifies-for-auto-merge

#4402 Update manifest.md
  hub/package-manager/package/manifest.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, package-manager/tech, qualifies-for-auto-merge

#4388 Update PowerToys docs
  hub/dev-environment/toc.yml
  hub/images/pt-awake-settings-menu.png
  hub/images/pt-awake-tray.gif
  hub/images/pt-colorpicker.gif
  hub/images/pt-fancyzones-settings2.png
  hub/images/pt-general.png
  hub/images/pt-quick-accent.gif
  hub/powertoys/administrator.md
  hub/powertoys/always-on-top.md
  hub/powertoys/awake.md
  hub/powertoys/color-picker.md
  hub/powertoys/fancyzones.md
  hub/powertoys/file-explorer.md
  hub/powertoys/general.md
  hub/powertoys/hosts-file-editor.md
  hub/powertoys/index.md
  hub/powertoys/install.md
  hub/powertoys/keyboard-manager.md
  hub/powertoys/mouse-utilities.md
  hub/powertoys/powerrename.md
  hub/powertoys/quick-accent.md
  hub/powertoys/run.md
  hub/powertoys/screen-ruler.md
  hub/powertoys/shortcut-guide.md
  hub/powertoys/text-extractor.md
  hub/powertoys/video-conference-mute.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, dev-environment/prod, powertoys/tech, needs-human-review

#4408 Typo"Instal"→"Install"
  hub/apps/winui/winui2/nuget-packages.md
Labels: do-not-merge, Change sent to author, reunion/prod, winui-conceptual/tech, qualifies-for-auto-merge

#4443 Update setup.md
  hub/dev-home/setup.md
Labels: do-not-merge, Change sent to author, uwp/prod, qualifies-for-auto-merge

#4441 Update how-to-launch-an-app-for-results.md
  uwp/launch-resume/how-to-launch-an-app-for-results.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, uwp/prod, processes-and-threading/tech

#4459 Bulleted options
  hub/dev-home/setup.md
Labels: do-not-merge, Change sent to author, uwp/prod, qualifies-for-auto-merge, docs-editor-pilot

#4462 Update extensions.md
  hub/dev-home/extensions.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, uwp/prod, qualifies-for-auto-merge
