Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2023-09, with the labels that each got.

#4607 Update display-ui-objects.md
  hub/apps/develop/ui-input/display-ui-objects.md
Labels: do-not-merge, Change sent to author, apps/tech, reunion/prod, qualifies-for-auto-merge

#4610 Update protocols for launching screen snipping
  uwp/launch-resume/launch-screen-snipping.md
Labels: do-not-merge, Change sent to author, uwp/prod, processes-and-threading/tech, qualifies-for-auto-merge, docs-editor-pilot

#4618 Update run.md
  hub/powertoys/run.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, qualifies-for-auto-merge

#4624 Doc update asyc --> async
  uwp/gaming/tutorial--building-the-games-uwp-app-framework.md
Labels: do-not-merge, Change sent to author, uwp/prod, games/tech, qualifies-for-auto-merge

#4625 Update setup.md -> Fix typo
  hub/dev-environment/rust/setup.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, windows-rust/tech, qualifies-for-auto-merge

#4628 Update index.md
  hub/powertoys/index.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, needs-human-review

#4595 [PowerToys][FindMyMouse] Add new activation methods
  hub/powertoys/mouse-utilities.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, qualifies-for-auto-merge

#4637 Update index.md
  hub/powertoys/index.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, needs-human-review

#4642 Make WinGet Configuration a stable feature in docs
  hub/package-manager/configuration/check.md
  hub/package-manager/configuration/create.md
  hub/package-manager/configuration/index.md
  hub/package-manager/winget/configure.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, package-manager/tech, needs-human-review
