Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2023-10, with the labels that each got.

#4650 DependencyProperties: add static property to C++/WinRT example
  uwp/xaml-platform/custom-dependency-properties.md
Labels: Change sent to author, uwp/prod, platform/tech, qualifies-for-auto-merge

#4657 Update install.md
  hub/powertoys/install.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, qualifies-for-auto-merge

#4658 Update color-picker.md
  hub/powertoys/color-picker.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, qualifies-for-auto-merge

#4660 Add procmon to Fitlers for common scenarios
  hub/dev-drive/index.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, needs-human-review, windows-devhome/tech

#4673 Update grouppolicy.md
  hub/powertoys/grouppolicy.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, needs-human-review

#4678 Improve Windows Dev Options page
  hub/apps/get-started/dev-options.md
Labels: do-not-merge, Change sent to author, get-started/tech, reunion/prod, qualifies-for-auto-merge

#4668 Update docs for --installer-type argument
  hub/package-manager/winget/index.md
  hub/package-manager/winget/install.md
  hub/package-manager/winget/show.md
  hub/package-manager/winget/upgrade.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, package-manager/tech, needs-human-review

#4686 Update getting-started.md for vs2022
  hub/apps/winui/winui2/getting-started.md
Labels: do-not-merge, Change sent to author, reunion/prod, winui-conceptual/tech, qualifies-for-auto-merge

#3098 Update Activate Xbox Dev Mode instructions
  uwp/gaming/getting-started.md
  uwp/xbox-apps/development-environment-setup.md
  uwp/xbox-apps/devkit-activation.md
  uwp/xbox-apps/devkit-deactivation.md
  uwp/xbox-apps/getting-started.md
  uwp/xbox-apps/images/activation-step-12.png
  uwp/xbox-apps/images/activation-step-13-rs4.png
  uwp/xbox-apps/images/activation-step-14.png
  uwp/xbox-apps/images/activation-step-5.png
  uwp/xbox-apps/images/activation-step-8-rs2.png
  uwp/xbox-apps/images/deactivation-app.png
  uwp/xbox-apps/images/devkit-activation-1.png
  uwp/xbox-apps/images/devkit-activation-2.png
  uwp/xbox-apps/images/devkit-deactivation-1.png
  uwp/xbox-apps/images/devkit-deactivation-2.png
  uwp/xbox-apps/images/devkit-deactivation-3.png
  uwp/xbox-apps/images/devkit-deactivation-4.png
  uwp/xbox-apps/images/devkit-deactivation-5.png
  uwp/xbox-apps/images/devkit-deactivation-6.png
  uwp/xbox-apps/index.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, uwp/prod, games/tech, needs-human-review

#4688 Fix minor typo in natvis.md
  uwp/cpp-and-winrt-apis/natvis.md
Labels: do-not-merge, Change sent to author, uwp/prod, platform/tech, qualifies-for-auto-merge

#4694 Update with info on cloning an existing projects in VS
  hub/dev-drive/index.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, needs-human-review, windows-devhome/tech

#4671 Fix #4586 & #4521
  hub/dev-environment/javascript/react-overview.md
  hub/includes/store/msi/upload-app-packages.md
Labels: do-not-merge, Change sent to author, uwp/prod, windows-javascript/tech, qualifies-for-auto-merge

#4700 Update text-extractor.md
  hub/powertoys/text-extractor.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, qualifies-for-auto-merge

#4690 [PowerToys] Add Environment Variables docs
  hub/dev-environment/toc.yml
  hub/images/powertoys-environment-variables-add-profile.gif
  hub/images/powertoys-environment-variables-apply-profile.gif
  hub/images/powertoys-environment-variables-edit-variable.gif
  hub/images/powertoys-environment-variables.png
  hub/powertoys/environment-variables.md
  hub/powertoys/index.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, needs-human-review

#4709 Fixed typo environment-variables.md
  hub/powertoys/environment-variables.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, powertoys/tech, qualifies-for-auto-merge

#4708 Update setup.md -- GA of Dev Drive
  hub/dev-home/setup.md
Labels: do-not-merge, Change sent to author, dev-environment/prod, qualifies-for-auto-merge, windows-devhome/tech
