Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2024-12, with the labels that each got.

#5240 applifecycle-single-instance: improve the MSBuild sample
  hub/apps/windows-app-sdk/applifecycle/applifecycle-single-instance.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-app-sdk/svc, app-lifecycle/subsvc

#5206 PowerToys run update value generator plugin docs for new UUID 7 support
  hub/powertoys/run.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, dev-environment/svc, powertoys/subsvc

#5164 Fix sample code format
  hub/apps/design/controls/listview-filtering.md
Labels: Change sent to author, needs-human-review, windows-app-sdk/svc, apps/subsvc

#5147 Fix the typo bookmarks
  hub/apps/design/controls/forms.md
Labels: Change sent to author, qualifies-for-auto-merge, windows-app-sdk/svc, apps/subsvc

#5202 Update doc for screen ruler of powertoys
  hub/images/pt-screen-ruler.png
  hub/powertoys/screen-ruler.md
Labels: do-not-merge, Change sent to author, needs-human-review, dev-environment/svc, powertoys/subsvc
