Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2024-02, with the labels that each got.

#4851 Update support-info.md
  hub/includes/store/msi/support-info.md
Labels: do-not-merge, review-team-triage, qualifies-for-auto-merge

#4852 Update support-info.md
  hub/includes/store/msix/support-info.md
Labels: do-not-merge, review-team-triage, qualifies-for-auto-merge

#4858 Added Gradle to "Storing package cache on Dev Drive"
  hub/dev-drive/index.md
Labels: do-not-merge, Change sent to author, needs-human-review, dev-environment/svc, windows-devhome/subsvc

#4854 Update multiple files in PowerToys documentation
  hub/powertoys/always-on-top.md
  hub/powertoys/color-picker.md
  hub/powertoys/crop-and-lock.md
  hub/powertoys/file-explorer.md
  hub/powertoys/grouppolicy.md
  hub/powertoys/hosts-file-editor.md
  hub/powertoys/install.md
  hub/powertoys/keyboard-manager.md
  hub/powertoys/peek.md
Labels: do-not-merge, Change sent to author, dev-environment/svc, powertoys/subsvc

#4860 Update index.md
  uwp/monetize/index.md
Labels: do-not-merge, Change sent to author, needs-human-review, uwp/svc, publish/subsvc

#4863 Update quickstart-save-a-file-with-a-picker.md
  uwp/files/quickstart-save-a-file-with-a-picker.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, uwp/svc, data-and-files/subsvc

#4865 [PowerToys] Update file locksmith contextmenu label
  hub/powertoys/index.md
Labels: do-not-merge, Change sent to author, needs-human-review, dev-environment/svc, powertoys/subsvc

#4867 Update index.md
  hub/sudo/index.md
Labels: do-not-merge, Change sent to author, needs-human-review, uwp/svc

#4869 Add links with detailed descriptions of manifest fields
  hub/package-manager/package/manifest.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, dev-environment/svc, package-manager/subsvc

#4868 Update frequently-asked-questions.yml: Remove duplicate link
  uwp/xbox-apps/frequently-asked-questions.yml
Labels: do-not-merge, Change sent to author, needs-human-review, uwp/svc, uwp-conceptual-docs/subsvc
