Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2024-05, with the labels that each got.

#4982 Fix XML in desktop-to-uwp-extensions.md
  hub/apps/desktop/modernize/desktop-to-uwp-extensions.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-app-sdk/svc, apps/subsvc

#4973 Update config.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: do-not-merge, review-team-triage, needs-human-review

#4992 Update schedule-pricing-changes.md
  hub/includes/store/msix/schedule-pricing-changes.md
Labels: do-not-merge, review-team-triage, qualifies-for-auto-merge

#4996 Update index.md to make the intro more readable
  hub/apps/develop/data-binding/index.md
Labels: do-not-merge, Change sent to author, needs-human-review, windows-app-sdk/svc, apps/subsvc

#5003 changing message for mapping without azure portal
  hub/apps/windows-app-sdk/notifications/push-notifications/push-quickstart.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-app-sdk/svc, apps/subsvc

#5005 Update advanced-paste.md to include OpenAI account requirement
  hub/powertoys/advanced-paste.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, dev-environment/svc, powertoys/subsvc

#5006 minor clarification of what object id is needed
  hub/apps/windows-app-sdk/notifications/push-notifications/push-quickstart.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-app-sdk/svc, apps/subsvc

#5004 Update quick-accent.md
  hub/powertoys/quick-accent.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, dev-environment/svc, powertoys/subsvc

#5013 [PowerToys]Clarify that Advanced Paste AI is opt-in
  hub/powertoys/advanced-paste.md
  hub/powertoys/index.md
Labels: do-not-merge, Change sent to author, needs-human-review, dev-environment/svc, powertoys/subsvc

#5009 Update recommended code editor from Intellij to WebStorm
  hub/dev-environment/javascript/nodejs-on-windows.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, dev-environment/svc, windows-javascript/subsvc

#4993 Removed info that said that a Dev Drive needs a Windows Insider Program Build on the Dev Channel.
  hub/dev-home/setup.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, dev-environment/svc, windows-devhome/subsvc

#4989 Change framewpork to framework on nextjs-on-wsl.md
  hub/dev-environment/javascript/nextjs-on-wsl.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, dev-environment/svc, windows-javascript/subsvc

#4987 Update react-on-windows.md
  hub/dev-environment/javascript/react-on-windows.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, dev-environment/svc, windows-javascript/subsvc

#5014 [PowerToys]Add GPO rules for Advanced Paste
  hub/powertoys/grouppolicy.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, dev-environment/svc, powertoys/subsvc

#4959 fix: use Node.js and not NodeJS
  hub/dev-environment/javascript/nodejs-on-windows.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, dev-environment/svc, windows-javascript/subsvc

#4971 Fix a broken url
  hub/dev-home/extensions.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, dev-environment/svc, windows-devhome/subsvc

#4985 Add missing quotes on command
  hub/dev-drive/index.md
Labels: do-not-merge, Change sent to author, needs-human-review, dev-environment/svc, windows-devhome/subsvc

#4941 Remove Unix directory separator
  hub/dev-drive/index.md
Labels: do-not-merge, Change sent to author, needs-human-review, dev-environment/svc, windows-devhome/subsvc

#4944 Update download.md - Fixed code typo.
  hub/package-manager/winget/download.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, dev-environment/svc, package-manager/subsvc
