Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2024-07, with the labels that each got.

#5048 Update app-icon-construction.md
  hub/apps/design/style/iconography/app-icon-construction.md
Labels: Change sent to author, qualifies-for-auto-merge, windows-app-sdk/svc, apps/subsvc

#5029 Update custom-dependency-properties.md to provide example and more details of proper collection initialization
  uwp/xaml-platform/custom-dependency-properties.md
Labels: Change sent to author, qualifies-for-auto-merge, uwp/svc, platform/subsvc

#5055 Update manifest.md: Fix link
  hub/package-manager/package/manifest.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, dev-environment/svc, package-manager/subsvc

#5047 Update create-and-manage-submissions-using-windows-store-services.md
  uwp/monetize/create-and-manage-submissions-using-windows-store-services.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, uwp/svc, publish/subsvc

#5060 Update drag-and-drop.md
  hub/apps/design/input/drag-and-drop.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-app-sdk/svc, apps/subsvc

#5063 Update create-and-host-a-package-extension.md
  uwp/launch-resume/create-and-host-a-package-extension.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, uwp/svc, processes-and-threading/subsvc

#5070 Fix a few typos
  hub/apps/design/input/keyboard-interactions.md
  hub/apps/design/layout/index.md
  hub/apps/design/shell/tiles-and-notifications/firewall-allowlist-config.md
  hub/apps/design/shell/tiles-and-notifications/quickstart-send-push-notification.md
  hub/apps/design/style/reveal-focus.md
  hub/apps/desktop/modernize/desktop-to-uwp-supported-api.md
  hub/apps/publish/partner-center/manage-azure-ad-applications-in-partner-center.md
  hub/apps/publish/whats-new-msix-app-overview-page.md
  hub/apps/windows-app-sdk/migrate-to-windows-app-sdk/guides/threading.md
  hub/apps/winui/winui2/release-notes/winui-2.3.md
  hub/dev-drive/index.md
  hub/dev-environment/javascript/nextjs-on-wsl.md
  hub/dev-environment/javascript/react-overview.md
  hub/dev-environment/rust/overview.md
  hub/includes/store/msi/add-and-edit-store-listing-info.md
  uwp/audio-video-camera/camera.md
  uwp/audio-video-camera/custom-audio-effects.md
  uwp/audio-video-camera/play-audio-and-video-with-mediaplayer.md
  uwp/contacts-and-calendar/my-people-support.md
  uwp/cpp-and-winrt-apis/consume-com.md
  uwp/devices-sensors/calibrate-sensors.md
  uwp/gaming/glsl-to-hlsl-reference.md
  uwp/launch-resume/create-and-register-an-inproc-background-task.md
  uwp/launch-resume/run-a-background-task-during-updatetask.md
  uwp/monetize/in-app-purchases-and-trials.md
Labels: do-not-merge, review-team-triage

#5084 Update complete-code-for-ddstextureloader.md
  uwp/gaming/complete-code-for-ddstextureloader.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, uwp/svc, games/subsvc

#5081 Fix a few typos
  hub/apps/design/style/mica.md
  hub/apps/develop/app-lifecycle-and-system-services.md
  hub/apps/publish/publish-your-app/msix/app-package-requirements.md
  hub/apps/publish/publish-your-app/msix/manage-submission-options.md
  hub/apps/publish/publish-your-app/msix/screenshots-and-images.md
  hub/apps/publish/publish-your-app/pwa/app-package-requirements.md
  hub/apps/publish/publish-your-app/pwa/manage-submission-options.md
  hub/apps/publish/publish-your-app/pwa/screenshots-and-images.md
  hub/apps/publish/store-policy-archive/store-policy-7-12.md
  hub/apps/publish/store-submission-api.md
  hub/apps/windows-app-sdk/experimental-channel.md
  hub/apps/windows-app-sdk/preview-channel.md
  hub/apps/windows-app-sdk/release-notes-archive/experimental-channel-1.2.md
  hub/apps/windows-app-sdk/release-notes-archive/preview-channel-1.1.md
  hub/apps/windows-app-sdk/single-project-msix.md
  hub/apps/windows-app-sdk/stable-channel.md
  hub/apps/winui/winui3/xaml-templated-controls-csharp-winui-3.md
  hub/dev-environment/javascript/react-beginners-tutorial.md
  hub/powertoys/keyboard-manager.md
  hub/python/scripting.md
  uwp/audio-video-camera/get-a-preview-frame.md
  uwp/audio-video-camera/screen-capture-video.md
  uwp/graphics-concepts/mappings-are-into-a-tile-pool.md
  uwp/maps-and-location/index.md
  uwp/monetize/add-advertisements-to-video-content.md
  uwp/packaging/self-install-package-updates.md
Labels: do-not-merge, Change sent to author, needs-human-review, uwp/svc, deployment/subsvc

#5045 [PowerToys] Update policy docs for 0.83.0 release (Changes from ADMX/ADML refactoring.)
  hub/powertoys/grouppolicy.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, dev-environment/svc, powertoys/subsvc

#5053 [PowerToys > Group Policy] Add new policies for Mouse Without Borders
  hub/powertoys/grouppolicy.md
Labels: do-not-merge, Change sent to author, needs-human-review, dev-environment/svc, powertoys/subsvc

#5051 Updated group policy docs and picture of File Explorer page
  hub/images/powertoys-settings-fileexplorer.png
  hub/powertoys/grouppolicy.md
Labels: do-not-merge, Change sent to author, needs-human-review, dev-environment/svc, powertoys/subsvc

#5061 Update winget docs
  hub/package-manager/winget/download.md
  hub/package-manager/winget/export.md
  hub/package-manager/winget/features.md
  hub/package-manager/winget/hash.md
  hub/package-manager/winget/import.md
  hub/package-manager/winget/install.md
  hub/package-manager/winget/list.md
  hub/package-manager/winget/pinning.md
  hub/package-manager/winget/search.md
  hub/package-manager/winget/show.md
  hub/package-manager/winget/source.md
  hub/package-manager/winget/uninstall.md
  hub/package-manager/winget/upgrade.md
  hub/package-manager/winget/validate.md
Labels: do-not-merge, Change sent to author, dev-environment/svc, package-manager/subsvc

#5058 Fix typo in visual-studio-asset-generation.md
  hub/apps/design/style/iconography/visual-studio-asset-generation.md
Labels: Change sent to author, qualifies-for-auto-merge, windows-app-sdk/svc, apps/subsvc
