Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2024-08, with the labels that each got.

#5089 Fix a few typos
  hub/apps/design/input/enable-continuous-dictation.md
  hub/apps/design/shell/tiles-and-notifications/WNS-Notification-Priorities.md
  hub/apps/design/style/writing-style.md
  hub/apps/develop/data-and-files.md
  hub/apps/develop/settings/settings-windows-11.md
  hub/apps/develop/widgets/widget-provider-manifest.md
  uwp/audio-video-camera/basic-photo-video-and-audio-capture-with-MediaCapture.md
  uwp/audio-video-camera/capture-from-multiple-sources-simultaneously.md
  uwp/audio-video-camera/handle-device-orientation-with-mediacapture.md
  uwp/audio-video-camera/integrate-with-systemmediatransportcontrols.md
  uwp/audio-video-camera/media-compositions-and-editing.md
  uwp/audio-video-camera/play-audio-and-video-with-mediaplayer.md
  uwp/audio-video-camera/system-supported-metadata-cues.md
  uwp/cpp-and-winrt-apis/concurrency-2.md
  uwp/debug-test-perf/version-adaptive-code.md
  uwp/devices-sensors/3d-generate-3mf.md
  uwp/devices-sensors/host-card-emulation.md
  uwp/devices-sensors/pos-camerabarcode-advancedconfig.md
  uwp/enterprise/customer-database-app-structure.md
  uwp/gaming/capture-game-audio-video-screenshots-and-metadata.md
  uwp/gaming/port-the-shader-config.md
  uwp/gaming/tutorial--adding-a-user-interface.md
  uwp/graphics-concepts/data-type-conversion.md
  uwp/launch-resume/create-and-register-an-inproc-background-task.md
  uwp/launch-resume/launch-settings-app.md
Labels: do-not-merge, Change sent to author, needs-human-review, uwp/svc, processes-and-threading/subsvc

#5102 Update to PowerToys Awake documentation
  hub/images/powertoys-awake/expirable.png
  hub/images/powertoys-awake/icon-change-selection.gif
  hub/images/powertoys-awake/indefinite.png
  hub/images/powertoys-awake/passive.png
  hub/images/powertoys-awake/pt-awake-menu.png
  hub/images/powertoys-awake/pt-awake-settings-menu.png
  hub/images/powertoys-awake/timed.png
  hub/images/pt-awake-tray.gif
  hub/powertoys/awake.md
  hub/powertoys/index.md
Labels: do-not-merge, Change sent to author, needs-human-review, dev-environment/svc, powertoys/subsvc

#5101 Update arm64x-build.md to include building with cmake
  landing/arm-docs/arm64x-build.md
Labels: do-not-merge, Change sent to author, windows/svc, needs-human-review, arm/subsvc

#5112 Update use-utf8-code-page.md (#5111)
  hub/apps/design/globalizing/use-utf8-code-page.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-app-sdk/svc, apps/subsvc

#5105 Update create-app-submission.md
  hub/apps/publish/publish-your-app/msix/create-app-submission.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-app-sdk/svc, apps/subsvc

#5113 Update playready-client-sdk.md
  uwp/audio-video-camera/playready-client-sdk.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, uwp/svc, audio-video-and-camera/subsvc
