Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2024-06, with the labels that each got.

#4743 [Accessibility] Document F6!
  hub/apps/design/accessibility/keyboard-accessibility.md
  hub/apps/design/accessibility/landmarks-and-headings.md
  hub/apps/design/input/images/keyboard/f6.png
  hub/apps/design/input/keyboard-accelerators.md
  hub/apps/design/input/keyboard-interactions.md
Labels: do-not-merge, Change sent to author, design/tech, reunion/prod, needs-human-review

#5023 Fix video embed for Powertoys intro page
  hub/powertoys/index.md
Labels: do-not-merge, Change sent to author, dev-environment/svc, powertoys/subsvc

#4979 Changed svg fill attribute
  hub/apps/design/signature-experiences/images/typography_body_strong.svg
  hub/apps/design/signature-experiences/images/typography_caption.svg
  hub/apps/design/signature-experiences/images/typography_subtitle.svg
  hub/apps/design/signature-experiences/images/typography_title_large.svg
Labels: do-not-merge, Change sent to author, needs-human-review, windows-app-sdk/svc, apps/subsvc

#5024 Update guidance on PublishAot
  hub/apps/windows-app-sdk/experimental-channel.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-app-sdk/svc, get-started/subsvc

#4950 Fix a few typos
  hub/apps/design/controls/contact-card.md
  hub/apps/design/controls/lists.md
  hub/apps/design/in-app-help/instructional-ui.md
  hub/apps/design/input/ink-toolbar.md
  hub/apps/design/input/keyboard-events.md
  hub/apps/design/input/keyboard-interactions.md
  hub/apps/design/shell/tiles-and-notifications/raw-notification-overview.md
  hub/apps/design/shell/tiles-and-notifications/tile-schema.md
  hub/apps/design/shell/tiles-and-notifications/toast-collections.md
  hub/apps/desktop/modernize/host-standard-control-with-xaml-islands-cpp.md
  hub/apps/desktop/modernize/host-standard-control-with-xaml-islands.md
  hub/apps/develop/settings/settings-common.md
  hub/apps/get-started/best-practices.md
  hub/apps/how-tos/chatgpt-openai-winui3.md
  hub/apps/performance/winui-perf.md
  hub/apps/publish/store-policy-archive/store-policy-7-11.md
  hub/apps/publish/store-policy-archive/store-policy-7-13.md
  hub/apps/trace-processing/tutorial.md
  hub/apps/winui/winui3/release-notes/release-notes-08-preview.md
  hub/includes/store/msi/app-package-management.md
  hub/includes/store/msi/package-version-numbering.md
  hub/package-manager/index.md
  hub/package-manager/package/windows-package-manager-policies.md
  hub/package-manager/winget/upgrade.md
  hub/powertoys/dsc-configure.md
  uwp/audio-video-camera/capture-device-controls-for-photo-and-video-capture.md
  uwp/audio-video-camera/capture-from-multiple-sources-simultaneously.md
  uwp/audio-video-camera/play-audio-and-video-with-mediaplayer.md
  uwp/audio-video-camera/use-opencv-with-mediaframereader.md
  uwp/composition/composition-brushes.md
  uwp/cpp-and-winrt-apis/base-type.md
  uwp/cpp-and-winrt-apis/cpp-value-categories.md
  uwp/debug-test-perf/optimize-file-access.md
  uwp/debug-test-perf/optimize-gridview-and-listview.md
  uwp/devices-sensors/gatt-client.md
  uwp/devices-sensors/use-the-inclinometer.md
  uwp/devices-sensors/use-the-orientation-sensor.md
  uwp/gaming/capture-game-audio-video-screenshots-and-metadata.md
  uwp/gaming/game-development-platform-guide.md
  uwp/gaming/tutorial--adding-controls.md
  uwp/graphics-concepts/configuring-depth-stencil-functionality.md
  uwp/launch-resume/register-a-background-task.md
  uwp/launch-resume/run-minimized-with-extended-execution.md
  uwp/maps-and-location/get-location.md
  uwp/monetize/get-acquisition-funnel-data.md
  uwp/monetize/ui-and-user-experience-guidelines.md
  uwp/networking/network-communications-in-the-background.md
  uwp/networking/sockets.md
  uwp/networking/web-feeds.md
  uwp/security/companion-device-unlock.md
  uwp/security/microsoft-passport-login-auth-service.md
  uwp/updates-and-versions/choose-a-uwp-version.md
  uwp/whats-new/windows-10-build-17134.md
  uwp/winrt-components/raising-events-in-windows-runtime-components.md
  uwp/xaml-platform/x-bind-markup-extension.md
  uwp/xaml-platform/xaml-namespaces-and-namespace-mapping.md
Labels: do-not-merge, review-team-triage, needs-human-review

#4888 Fixing code on the guide on implementing Pattern availability
  hub/apps/design/accessibility/custom-automation-peers.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-app-sdk/svc, apps/subsvc

#4900 CPUSets for game development: Fix code snippets
  uwp/xbox-apps/cpusets-games.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, uwp/svc, games/subsvc

#5030 Update launch-settings-app.md
  uwp/launch-resume/launch-settings-app.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, uwp/svc, processes-and-threading/subsvc

#5035 Fix a few typos
  hub/android/native-android.md
  hub/apps/design/accessibility/keyboard-accessibility.md
  hub/apps/design/controls/pipspager.md
  hub/apps/design/input/speech-recognition.md
  hub/apps/design/input/touch-developer-guide.md
  hub/apps/windows-app-sdk/release-notes-archive/stable-channel-0.8.md
  hub/apps/winui/winui3/create-your-first-winui3-app.md
  hub/apps/winui/winui3/index.md
  hub/apps/winui/winui3/testing/create-winui-unit-test-project.md
  hub/dev-environment/javascript/nextjs-on-wsl.md
  hub/includes/store/msix/app-submission-control.md
  hub/includes/store/msix/create-app-store-listing.md
  hub/includes/store/msix/screenshots-and-images.md
  hub/powertoys/dsc-configure.md
  landing/arm-docs/overview.md
  uwp/cpp-and-winrt-apis/pass-parms-to-abi.md
  uwp/data-access/index.md
  uwp/devices-sensors/gatt-server.md
  uwp/gaming/change-your-shader-loading-code.md
  uwp/gaming/game-development-videos.md
  uwp/gaming/tutorial-resources.md
  uwp/launch-resume/create-and-register-a-background-task.md
  uwp/monetize/run-app-experiments-with-a-b-testing.md
  uwp/monetize/update-the-package-rollout-percentage-for-an-app-submission.md
  uwp/networking/background-transfers.md
Labels: do-not-merge, review-team-triage, needs-human-review

#5038 Update implement-widget-provider-win32.md
  hub/apps/develop/widgets/implement-widget-provider-win32.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-app-sdk/svc, apps/subsvc

#5040 Fix a few typos
  hub/apps/design/app-settings/guidelines-for-app-settings.md
  hub/apps/design/controls/checkbox.md
  hub/apps/design/controls/expander.md
  hub/apps/design/shell/tiles-and-notifications/WNS-Notification-Priorities.md
  hub/apps/desktop/modernize/modernize-wpf-tutorial-4.md
  hub/apps/develop/widgets/implement-widget-provider-cs.md
  hub/apps/develop/widgets/implement-widget-provider-win32.md
  hub/apps/develop/windows-integration/integrate-sharesheet-unpackaged.md
  hub/apps/publish/partner-center/manage-azure-ad-applications-in-partner-center.md
  hub/apps/winui/winui3/xaml-templated-controls-csharp-winui-3.md
  hub/powertoys/color-picker.md
  uwp/audio-video-camera/audio-graphs.md
  uwp/audio-video-camera/create-schedule-and-manage-media-breaks.md
  uwp/audio-video-camera/imaging.md
  uwp/audio-video-camera/media-playback-with-mediasource.md
  uwp/audio-video-camera/process-audio-frames-with-mediaframereader.md
  uwp/audio-video-camera/process-media-frames-with-mediaframereader.md
  uwp/audio-video-camera/scene-analysis-for-media-capture.md
  uwp/cpp-and-winrt-apis/concurrency-2.md
  uwp/cpp-and-winrt-apis/concurrency-3.md
  uwp/cpp-and-winrt-apis/news.md
  uwp/debug-test-perf/windows-runtime-components-and-optimizing-interop.md
  uwp/dotnet-native/method-element-net-native.md
  uwp/enterprise/wip-hub.md
  uwp/gaming/complete-code-for-ddstextureloader.md
  uwp/gaming/port-a-simple-opengl-es-2-0-renderer-to-directx-11-1.md
  uwp/gaming/porting-uniforms-and-attributes.md
  uwp/gaming/supporting-screen-rotation-directx-and-cpp.md
  uwp/graphics-concepts/index-buffers.md
  uwp/graphics-concepts/sampler.md
  uwp/graphics-concepts/streaming-resources-texture-sampling-features.md
  uwp/launch-resume/launch-screen-snipping.md
  uwp/monetize/access-analytics-data-using-windows-store-services.md
  uwp/monetize/get-app-usage-daily.md
  uwp/monetize/get-app-usage-monthly.md
  uwp/monetize/query-for-products.md
  uwp/security/compare-buffers.md
  uwp/security/convert-between-strings-and-binary-data.md
  uwp/security/copy-to-and-from-byte-arrays.md
  uwp/security/create-random-numbers.md
  uwp/security/encode-and-decode-data.md
  uwp/security/microsoft-passport-login.md
  uwp/security/share-certificates.md
  uwp/security/web-account-manager.md
  uwp/whats-new/windows-10-build-15063.md
  uwp/whats-new/windows-10-build-17763.md
  uwp/xbox-apps/uwp-networkcredentials-api.md
  uwp/xbox-apps/uwp-remoteinput-controllers-api.md
  uwp/xbox-apps/uwp-sshpins-api.md
  uwp/xbox-apps/wdp-loose-folder-register-api.md
Labels: do-not-merge, Change sent to author, needs-human-review, uwp/svc, games/subsvc

#5046 Fix a few typos
  hub/apps/design/app-settings/store-and-retrieve-app-data.md
  hub/apps/design/controls/dialogs-and-flyouts/teaching-tip.md
  hub/apps/design/controls/item-templates-gridview.md
  hub/apps/design/controls/item-templates-listview.md
  hub/apps/design/input/guidelines-for-visualfeedback.md
  hub/apps/design/motion/directionality-and-gravity.md
  hub/apps/desktop/modernize/modernize-wpf-tutorial-4.md
  hub/apps/desktop/modernize/modernize-wpf-tutorial.md
  hub/apps/develop/win2d/offscreen-drawing.md
  hub/apps/windows-app-sdk/release-notes-archive/experimental-channel-1.3.md
  hub/apps/windows-app-sdk/release-notes-archive/preview-channel-1.3.md
  uwp/audio-video-camera/basic-photo-video-and-audio-capture-with-MediaCapture.md
  uwp/audio-video-camera/camera-privacy-setting.md
  uwp/audio-video-camera/capture-device-controls-for-video-capture.md
  uwp/audio-video-camera/media-compositions-and-editing.md
  uwp/audio-video-camera/media-playback-with-mediasource.md
  uwp/audio-video-camera/playready-encrypted-media-extension.md
  uwp/audio-video-camera/process-media-frames-with-mediaframereader.md
  uwp/audio-video-camera/supported-codecs.md
  uwp/audio-video-camera/system-media-transport-controls.md
  uwp/composition/composition-lighting.md
  uwp/launch-resume/hosted-apps.md
  uwp/security/companion-device-unlock.md
  uwp/whats-new/windows-10-build-16299.md
  uwp/whats-new/windows-10-build-17763.md
Labels: do-not-merge, Change sent to author, needs-human-review, uwp/svc, whats-new/subsvc
