Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2024-04, with the labels that each got.

#4931 Updating PowerToys screenshots and images
  hub/images/powertoys-file-locksmith-restart-as-admin.png
  hub/images/powertoys-file-locksmith.gif
  hub/images/powertoys-imageresize-settings.png
  hub/images/powertoys-keyboard-remap.png
  hub/images/powertoys-mouse-without-borders-press-new-key.png
  hub/images/powertoys-mouse-without-borders-settings-troubleshooting.png
  hub/images/powertoys-resize-images.gif
  hub/images/powertoys-settings-fileexplorer.png
  hub/images/pt-awake-settings-menu.png
  hub/images/pt-color-picker.png
  hub/images/pt-colorpicker-behaviors.png
  hub/images/pt-colorpicker-editor.gif
  hub/images/pt-colorpicker-hex-editor.png
  hub/images/pt-colorpicker-settings.gif
  hub/images/pt-colorpicker-settings.png
  hub/images/pt-colorpicker.gif
  hub/images/pt-fancyzones-settings.png
  hub/images/pt-fancyzones-settings2.png
  hub/images/pt-general.png
  hub/images/pt-mouse-utilities-settings.png
  hub/images/pt-powerrun-demo.gif
  hub/images/pt-quick-accent.gif
  hub/images/pt-run-plugin-manager.png
  hub/images/pt-shortcut-guide-large.png
  hub/images/pt-shortcut-guide-settings.png
  hub/images/pt-window-snap-multiple-zones-w-keyboard-settings.png
  hub/powertoys/color-picker.md
Labels: do-not-merge, Change sent to author, needs-human-review, dev-environment/svc, powertoys/subsvc

#4930 [PowerToys] Add documentation about Desired State Configuration
  hub/powertoys/dsc-configure.md
  hub/powertoys/install.md
Labels: do-not-merge, Change sent to author, needs-human-review, dev-environment/svc, powertoys/subsvc

#4933 [PowerToys]Fix DSC page table and notes
  hub/powertoys/dsc-configure.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, dev-environment/svc, powertoys/subsvc

#4934 Fixed a typo in launch-settings-app.md
  uwp/launch-resume/launch-settings-app.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, uwp/svc, processes-and-threading/subsvc

#4935 formatting and small text adjustments
  hub/powertoys/administrator.md
  hub/powertoys/always-on-top.md
  hub/powertoys/awake.md
  hub/powertoys/cmd-not-found.md
  hub/powertoys/color-picker.md
  hub/powertoys/crop-and-lock.md
  hub/powertoys/dsc-configure.md
  hub/powertoys/environment-variables.md
  hub/powertoys/fancyzones.md
  hub/powertoys/file-explorer.md
  hub/powertoys/file-locksmith.md
  hub/powertoys/general.md
  hub/powertoys/grouppolicy.md
  hub/powertoys/hosts-file-editor.md
  hub/powertoys/image-resizer.md
  hub/powertoys/index.md
  hub/powertoys/install.md
  hub/powertoys/keyboard-manager.md
  hub/powertoys/mouse-utilities.md
  hub/powertoys/mouse-without-borders.md
  hub/powertoys/paste-as-plain-text.md
  hub/powertoys/peek.md
  hub/powertoys/powerrename.md
  hub/powertoys/registry-preview.md
  hub/powertoys/run.md
  hub/powertoys/screen-ruler.md
  hub/powertoys/shortcut-guide.md
  hub/powertoys/text-extractor.md
  hub/powertoys/video-conference-mute.md
Labels: do-not-merge, Change sent to author, needs-human-review, dev-environment/svc, powertoys/subsvc

#4946 Formatting and phrases
  hub/powertoys/awake.md
  hub/powertoys/cmd-not-found.md
  hub/powertoys/color-picker.md
  hub/powertoys/crop-and-lock.md
  hub/powertoys/environment-variables.md
  hub/powertoys/fancyzones.md
  hub/powertoys/file-explorer.md
  hub/powertoys/file-locksmith.md
  hub/powertoys/general.md
  hub/powertoys/grouppolicy.md
  hub/powertoys/hosts-file-editor.md
  hub/powertoys/image-resizer.md
  hub/powertoys/index.md
  hub/powertoys/install.md
  hub/powertoys/keyboard-manager.md
  hub/powertoys/mouse-utilities.md
  hub/powertoys/mouse-without-borders.md
  hub/powertoys/paste-as-plain-text.md
  hub/powertoys/peek.md
  hub/powertoys/powerrename.md
  hub/powertoys/quick-accent.md
  hub/powertoys/registry-preview.md
  hub/powertoys/run.md
  hub/powertoys/screen-ruler.md
  hub/powertoys/shortcut-guide.md
  hub/powertoys/text-extractor.md
  hub/powertoys/video-conference-mute.md
Labels: do-not-merge, Change sent to author, needs-human-review, dev-environment/svc, powertoys/subsvc

#4921 Fix misspellings and other typos
  hub/apps/design/controls/commanding.md
  hub/apps/design/shell/tiles-and-notifications/adaptive-interactive-toasts.md
  hub/apps/develop/platform/csharp-winrt/net-projection-from-cppwinrt-component.md
  hub/apps/develop/win2d/avoiding-memory-leaks.md
  hub/apps/develop/win2d/loading-resources-outside-of-createresources.md
  hub/apps/get-started/start-here.md
  hub/apps/windows-app-sdk/migrate-to-windows-app-sdk/feature-mapping-table.md
  hub/apps/windows-app-sdk/migrate-to-windows-app-sdk/overall-migration-strategy.md
  hub/apps/windows-app-sdk/system-requirements.md
  hub/dev-drive/group-policy.md
  hub/includes/store/msi/app-certification-process.md
  hub/web/index.md
  uwp/app-resources/pri-apis-scenario-1.md
  uwp/audio-video-camera/adaptive-streaming.md
  uwp/audio-video-camera/camera-profiles.md
  uwp/audio-video-camera/capture-device-controls-for-photo-and-video-capture.md
  uwp/audio-video-camera/import-media-from-a-device.md
  uwp/audio-video-camera/media-compositions-and-editing.md
  uwp/cpp-and-winrt-apis/clipboard-to-winrt-from-csharp.md
  uwp/devices-sensors/device-information-properties.md
  uwp/devices-sensors/pos-basics-sharing.md
  uwp/devices-sensors/pos-camerabarcode-advancedconfig.md
  uwp/files/quickstart-accessing-homegroup-content.md
  uwp/files/quickstart-determining-availability-of-microsoft-onedrive-files.md
  uwp/gaming/adding-audio-to-the-marble-maze-sample.md
  uwp/gaming/compare-opengl-es-2-0-api-design-to-directx.md
  uwp/gaming/e2e.md
  uwp/gaming/tutorial--adding-touch-controls-to-your-directx-game.md
  uwp/gaming/understand-direct3d-11-1-concepts.md
  uwp/launch-resume/create-a-customized-splash-screen.md
  uwp/launch-resume/group-background-tasks.md
  uwp/networking/background-transfers.md
  uwp/networking/httpclient.md
Labels: review-team-triage

#4948 Fix a few typos
  hub/apps/design/controls/web-view.md
  hub/apps/design/layout/layout-panels.md
  hub/apps/design/widgets/widgets-design-fundamentals.md
  hub/apps/develop/audio-video-camera.md
  hub/apps/develop/ui-input/visual-tree.md
  hub/apps/develop/user-interface.md
  hub/apps/publish/partner-center/associate-existing-azure-ad-tenant-with-partner-center-account.md
  hub/dev-environment/index.md
  uwp/audio-video-camera/basic-photo-video-and-audio-capture-with-MediaCapture.md
  uwp/audio-video-camera/custom-audio-effects.md
  uwp/audio-video-camera/process-software-bitmaps-with-opencv.md
  uwp/cpp-and-winrt-apis/author-apis.md
  uwp/cpp-and-winrt-apis/move-to-winrt-from-csharp.md
  uwp/devices-sensors/ble-beacon.md
  uwp/devices-sensors/host-card-emulation.md
  uwp/gaming/moving-from-egl-to-dxgi.md
  uwp/gaming/tutorial--adding-a-user-interface.md
  uwp/launch-resume/auto-launching-with-autoplay.md
  uwp/security/companion-device-unlock.md
  uwp/whats-new/windows-10-build-19041.md
  uwp/xbox-apps/development-lanes-unity.md
Labels: do-not-merge, Change sent to author, needs-human-review, uwp/svc, games/subsvc

#4957 [PowerToys]Update DSC samples
  hub/powertoys/dsc-configure.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, dev-environment/svc, powertoys/subsvc

#4965 Resize to Rename
  hub/powertoys/powerrename.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, dev-environment/svc, powertoys/subsvc

#4966 #32527 - Running with Administrator Permissions documentation is missing Mouse without Borders
  hub/powertoys/administrator.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, dev-environment/svc, powertoys/subsvc

#4958 Edit React Native Docs
  hub/dev-environment/javascript/react-native-for-windows.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, dev-environment/svc, windows-javascript/subsvc

#4915 Fix text formatting issue in docs
  hub/dev-environment/javascript/react-overview.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, dev-environment/svc, windows-javascript/subsvc

#4664 Update audio-graphs.md
  uwp/audio-video-camera/audio-graphs.md
Labels: do-not-merge, Change sent to author, uwp/prod, audio-video-and-camera/tech, qualifies-for-auto-merge

#4590 Fix wrong sample code
  hub/apps/windows-app-sdk/notifications/app-notifications/app-notifications-quickstart.md
Labels: do-not-merge, Change sent to author, reunion/prod, qualifies-for-auto-merge

#4974 Update app-capability-declarations.md
  uwp/packaging/app-capability-declarations.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, uwp/svc, deployment/subsvc
