Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2025-03, with the labels that each got.

#5259 Remove workaround that's not needed anymore
  hub/powertoys/run.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, dev-environment/svc, powertoys/subsvc

#5339 update on the containerization benefits section
  hub/apps/windows-app-sdk/migrate-to-windows-app-sdk/migrate-to-windows-app-sdk-ovw.md
Labels: do-not-merge, Change sent to author, windows-app-sdk/svc, get-started/subsvc

#5293 Update system-backdrop-controller.md - Add a note that materials with customized properties do not react to theme changes
  hub/apps/windows-app-sdk/system-backdrop-controller.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, windows-app-sdk/svc, apps/subsvc

#5327 Add platform id to feedback template
  .github/ISSUE_TEMPLATE/1-customer-feedback.yml
Labels: do-not-merge, review-team-triage, needs-human-review

#5246 Update arm64x-build.md - syntax highlighting
  landing/arm-docs/arm64x-build.md
Labels: do-not-merge, Change sent to author, windows/svc, qualifies-for-auto-merge, arm/subsvc

#5363 Remove AI ms.collection tag
  hub/apps/develop/data-access/mysql-database.md
  hub/powertoys/install.md
  hub/powertoys/powerrename.md
Labels: do-not-merge, Change sent to author, dev-environment/svc, powertoys/subsvc

#5372 Update index.md
  hub/apps/develop/actions/index.md
Labels: do-not-merge, Change sent to author, needs-human-review, windows-app-sdk/svc, apps/subsvc

#5371 Update action-provider-manifest.md
  hub/apps/develop/actions/action-provider-manifest.md
Labels: do-not-merge, Change sent to author, windows-app-sdk/svc, apps/subsvc

#5369 Update action-json.md
  hub/apps/develop/actions/action-json.md
Labels: do-not-merge, Change sent to author, windows-app-sdk/svc, apps/subsvc

#5376 Fixed a missing space
  hub/apps/develop/actions/action-json.md
Labels: do-not-merge, Change sent to author, windows-app-sdk/svc, apps/subsvc

#5285 PowerToys New+ variable support in template filenames -- documentation related updates
  hub/powertoys/newplus.md
Labels: do-not-merge, Change sent to author, needs-human-review, dev-environment/svc, powertoys/subsvc

#5350 Add `sq` prefix tip for unit converter
  hub/powertoys/run.md
Labels: do-not-merge, Change sent to author, dev-environment/svc, powertoys/subsvc

#5168 Update peek.md
  hub/images/pt-peek-delete-confirmation.png
  hub/powertoys/peek.md
Labels: do-not-merge, Change sent to author, needs-human-review, dev-environment/svc, powertoys/subsvc
