Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2025-08, with the labels that each got.

#5558 Update Windows App SDK downloads.md
  hub/apps/windows-app-sdk/downloads.md
Labels: do-not-merge, Change sent to author, needs-human-review, windows-app-sdk/svc, get-started/subsvc

#5621 Update whats-new-individual-developer.md
  hub/apps/publish/whats-new-individual-developer.md
Labels: do-not-merge, Change sent to author, windows-app-sdk/svc, apps/subsvc

#5627 Reference the newly introduced title bar control in title bar customization
  hub/apps/develop/title-bar.md
Labels: Change sent to author, windows-app-sdk/svc, apps/subsvc
