Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2025-05, with the labels that each got.

#5414 Fix units
  hub/dev-drive/index.md
Labels: do-not-merge, Change sent to author, needs-human-review, dev-environment/svc, windows-devhome/subsvc

#5417 Update action-json.md
  hub/apps/develop/actions/action-json.md
Labels: do-not-merge, Change sent to author, windows-app-sdk/svc, apps/subsvc

#5334 [Power Toys > PowerToys Run plugins] Time and Date plugin: Add docs for custom formats
  hub/powertoys/run.md
Labels: do-not-merge, Change sent to author, dev-environment/svc, powertoys/subsvc

#5445 Update experimental-channel.md
  hub/apps/windows-app-sdk/experimental-channel.md
Labels: do-not-merge, Change sent to author, windows-app-sdk/svc, get-started/subsvc

#5447 Update color-picker.md
  hub/powertoys/color-picker.md
Labels: do-not-merge, Change sent to author, dev-environment/svc, powertoys/subsvc

#5449 Remove Non Working Domains from Code
  hub/apps/design/shell/tiles-and-notifications/firewall-allowlist-config.md
Labels: do-not-merge, Change sent to author, windows-app-sdk/svc, apps/subsvc
