Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2025-09, with the labels that each got.

#5634 Update PowerToys index.md - spelling nit and Find My Mouse clarification
  hub/powertoys/index.md
Labels: do-not-merge, Change sent to author, dev-environment/svc, powertoys/subsvc

#5641 docs: remove invalid `path =` line from MarkdownContent sample
  hub/powertoys/command-palette/using-markdown-content.md
Labels: do-not-merge, Change sent to author, dev-environment/svc, powertoys/subsvc

#5470 [PowerToys]Mouse without borders: Disable Easy mouse when the foreground application is in fullscreen mode - docs
  hub/powertoys/mouse-without-borders.md
Labels: do-not-merge, Change sent to author, dev-environment/svc, powertoys/subsvc

#5656 [PowerToys] Extract MSI from EXE for WiX v5
  hub/powertoys/install.md
Labels: do-not-merge, Change sent to author, dev-environment/svc, powertoys/subsvc

#5675 Update index.md
  hub/apps/publish/index.md
Labels: do-not-merge, Change sent to author, needs-human-review, windows-app-sdk/svc, apps/subsvc

#5642 Updated docs to indicate lack of support for school accounts
  hub/apps/distribute-through-store/how-to-use-store-web-installer-for-distribution.md
Labels: do-not-merge, Change sent to author, windows-app-sdk/svc, apps/subsvc
