Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2025-07, with the labels that each got.

#5514 Revamp Cmdpal docs
  hub/images/command-palette/command-context-item.png
  hub/images/command-palette/command-result.png
  hub/images/command-palette/content-page.png
  hub/images/command-palette/debug-configuration.png
  hub/images/command-palette/form-simple.png
  hub/images/command-palette/form-toggle-command-palette.png
  hub/images/command-palette/form-toggle.png
  hub/images/command-palette/list-page.png
  hub/images/command-palette/markdown.png
  hub/images/command-palette/output.png
  hub/images/command-palette/top-level-command.png
  hub/images/command-palette/update-page-title.png
  hub/powertoys/command-palette/add-top-level-commands-to-your-extension.md
  hub/powertoys/command-palette/adding-commands.md
  hub/powertoys/command-palette/command-results.md
  hub/powertoys/command-palette/creating-an-extension.md
  hub/powertoys/command-palette/update-a-list-of-commands.md
  hub/powertoys/command-palette/using-form-pages.md
  hub/powertoys/command-palette/using-markdown-content.md
Labels: do-not-merge, Change sent to author, needs-human-review, dev-environment/svc, powertoys/subsvc

#5517 add winui 101 lab links
  hub/apps/get-started/samples.md
  hub/apps/get-started/start-here.md
  hub/apps/winui/index.md
Labels: do-not-merge, Change sent to author, needs-human-review, windows-app-sdk/svc, winui-conceptual/subsvc

#5543 [x:Bind] Document TargetNullValue behavior with functions
  uwp/data-binding/function-bindings.md
Labels: do-not-merge, Change sent to author, uwp/svc, data-and-files/subsvc

#5545 Replace &mdash; with '—' in title
  hub/apps/develop/platform/csharp-winrt/create-windows-runtime-component-cswinrt.md
  hub/apps/develop/platform/csharp-winrt/create-winrt-component-winui-cswinrt.md
Labels: do-not-merge, Change sent to author, windows-app-sdk/svc, apps/subsvc
