Repository MicrosoftDocs/windows-dev-docs, pull requests merged in 2025-04, with the labels that each got.

#5384 Update samples.md to fix typo
  hub/powertoys/command-palette/samples.md
Labels: do-not-merge, Change sent to author, dev-environment/svc, powertoys/subsvc

#5387 Changed binary to executable to be more precise.
  hub/apps/desktop/modernize/grant-identity-to-nonpackaged-apps.md
Labels: do-not-merge, Change sent to author, windows-app-sdk/svc, apps/subsvc

#5367 Update support.md and include 1.7 SDK in table Windows client/server versions.
  hub/apps/windows-app-sdk/support.md
Labels: do-not-merge, Change sent to author, windows-app-sdk/svc, apps/subsvc

#5396 Added note about adding an application manifest file in Visual Studio.
  hub/apps/desktop/modernize/grant-identity-to-nonpackaged-apps.md
Labels: do-not-merge, Change sent to author, windows-app-sdk/svc, apps/subsvc

#5395 Fixed heading level.
  hub/apps/desktop/modernize/grant-identity-to-nonpackaged-apps.md
Labels: do-not-merge, Change sent to author, windows-app-sdk/svc, apps/subsvc

#5402 Update toast-notifications.md
  hub/apps/windows-app-sdk/migrate-to-windows-app-sdk/guides/toast-notifications.md
Labels: do-not-merge, Change sent to author, windows-app-sdk/svc, get-started/subsvc
